<body>

<div class="grid_12">
      <ol class="breadcrumb">
         <li> <%=link_to 'Home', controller: 'statics'%></li>
         <li> <%=link_to 'Compras', compras_url %></li>
         <li class="active">  Solicitud  </li>
      </ol>
</div>

<div class="grid_12">	
	<h1> Solicitud de Compras </h1>	
   <br>
</div>



<div class="grid_12 push_5">
	<%= link_to "Especificaciones Técnicas", especificacionesTecnicas_url %><br>
  <%= link_to "Cartas de Invitación", invitations_url %><br>
  <%= link_to "Ofertas", construccion_url %><br>
	<%= link_to "Informe de recomendación", construccion_url %><br>
	<%= link_to "Acto Motivado", acts_url %><br>
  <%= link_to "Requisición", construccion_url %><br>
	<%= link_to "Nota de Devolución", devolutions_url %><br>

</div>
</body>

<style>

a:link { 
 font-weight: bold;
 font-size: 14px;
}
a:visited { 
  color:#333;
  font-size: 14px;
}
a:hover { 
  color: #333;
  font-size: 14px;
}

h1 {
  text-align: center;
}


</style>




