<body>

	<div class="grid_12">
		   <ol class="breadcrumb">
		      <li> <%=link_to 'Home', controller: 'statics'%></li>
		      <li> <%=link_to 'Compras', compras_url %></li>
		      <li class="active">  Solicitud  </li>
		   </ol>
	</div>

	<div class="grid_6 push_4">

		<ul id="tittle">
			<%= link_to especificacionesTecnicas_url do %>
		       <li style="text-align:left"><h4><i class="fa fa-clipboard fa-1"> Especificaciones Técnicas </i></h4></li>
		   <% end %>
			<%= link_to invitations_url do %>
		       <li style="text-align:left"><h4><i class="fa fa-envelope-o">&nbspCarta de invitación </i></h4></li>
		   <% end %>
			<%= link_to quotes_url do %>
		       <li style="text-align:left"><h4><i class="fa fa-usd"> &nbsp Ofertas </i></h4></li>
		   <% end %>
			<%= link_to construccion_url do %>
		       <li style="text-align:left"><h4><i class="fa fa-files-o"> Requisición </i></h4></li>
		   <% end %>
			<%= link_to construccion_url do %>
		       <li style="text-align:left"><h4><i class="fa fa-file-text-o"> Informe de recomendación</i></h4></li>
		   <% end %>
			<%= link_to acts_url do %>
		       <li style="text-align:left"><h4><i class="fa fa-angle-right"> &nbsp Acto de motivación </i></h4></li>
		   <% end %>
			<%= link_to construccion_url do %>
		       <li style="text-align:left"><h4><i class="fa fa-close"> Nota de devolución</i></h4></li>
		   <% end %>
         <br><br><%= link_to "Volver al menu inicial", compras_url , class:"btn btn-primary" %>
		</ul>

	</div>

</body>

<style>

ul {
	line-height: 0.2;
}
<<<<<<< HEAD

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857;
    color: white;
=======
a:hover { 
  color: #333;
  font-size: 14px;
>>>>>>> 7256d889090e41a1a54887dc8698f2b5c4541ced
}


h1 {
  text-align: center;
}


</style>




