<h1>Listing tools</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Brand</th>
      <th>Type</th>
      <th>National good</th>
      <th>Status</th>
      <th>Use</th>
      <th>Responsible</th>
      <th>Location</th>
      <th>Material</th>
      <th>Bill</th>
      <th>From set</th>
      <th>Investigation</th>
      <th>Teaching</th>
      <th>Extention</th>
      <th>Management</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tools.each do |tool| %>
      <tr>
        <td><%= tool.name %></td>
        <td><%= tool.brand %></td>
        <td><%= tool.type %></td>
        <td><%= tool.national_good %></td>
        <td><%= tool.status %></td>
        <td><%= tool.use %></td>
        <td><%= tool.responsible %></td>
        <td><%= tool.location %></td>
        <td><%= tool.material %></td>
        <td><%= tool.bill %></td>
        <td><%= tool.from_set %></td>
        <td><%= tool.investigation %></td>
        <td><%= tool.teaching %></td>
        <td><%= tool.extention %></td>
        <td><%= tool.management %></td>
        <td><%= link_to 'Show', tool %></td>
        <td><%= link_to 'Edit', edit_tool_path(tool) %></td>
        <td><%= link_to 'Destroy', tool, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tool', new_tool_path %>
