<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tool.name %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @tool.brand %>
</p>

<p>
  <strong>Type:</strong>
  <%= @tool.type %>
</p>

<p>
  <strong>National good:</strong>
  <%= @tool.national_good %>
</p>

<p>
  <strong>Status:</strong>
  <%= @tool.status %>
</p>

<p>
  <strong>Use:</strong>
  <%= @tool.use %>
</p>

<p>
  <strong>Responsible:</strong>
  <%= @tool.responsible %>
</p>

<p>
  <strong>Location:</strong>
  <%= @tool.location %>
</p>

<p>
  <strong>Material:</strong>
  <%= @tool.material %>
</p>

<p>
  <strong>Bill:</strong>
  <%= @tool.bill %>
</p>

<p>
  <strong>From set:</strong>
  <%= @tool.from_set %>
</p>

<p>
  <strong>Investigation:</strong>
  <%= @tool.investigation %>
</p>

<p>
  <strong>Teaching:</strong>
  <%= @tool.teaching %>
</p>

<p>
  <strong>Extention:</strong>
  <%= @tool.extention %>
</p>

<p>
  <strong>Management:</strong>
  <%= @tool.management %>
</p>

<%= link_to 'Edit', edit_tool_path(@tool) %> |
<%= link_to 'Back', tools_path %>
