<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @tool.name %>
</p>

<p>
  <strong>Marca:</strong>
  <%= @tool.brand %>
</p>

<p>
  <strong>Tipo:</strong>
  <%= @tool.type %>
</p>

<p>
  <strong>Número Bien Nacional:</strong>
  <%= @tool.national_good %>
</p>

<p>
  <strong>Estatus:</strong>
  <%= @tool.status %>
</p>

<p>
  <strong>Responsable:</strong>
  <%= @tool.responsible %>
</p>

<p>
  <strong>Ubicación:</strong>
  <%= @tool.location %>
</p>

<p>
  <strong>Material:</strong>
  <%= @tool.material %>
</p>

<p>
  <strong>Factura:</strong>
  <%= @tool.bill %>
</p>

<p>
  <strong>De un juego:</strong>
  <%= @tool.from_set %>
</p>

<p>
  <strong>Uso:</strong>

  <% if @tool.investigation %>
    <%= ' Investigación ' %>
  <% end %>
  <% if @tool.teaching %>
    <%= ' Docencia ' %>
  <% end %>
  <% if @tool.extention %>
    <%= ' Extensión ' %>
  <% end %>
  <% if @tool.management %>
    <%= ' Gestión ' %>
  <% end %>
</p>

<br><br>
<% if can? :update, @tool %>
  <i class="fa fa-cog"></i><%= link_to ' Editar', edit_tool_path(@tool) %> |
<% end %>
<i class="fa fa-arrow-left"></i><%= link_to ' Atrás', tools_path %>
<br><br><br><br>