<!DOCTYPE html>
<html>
<head>
</head>
<body>

<div class="grid_12">
      <ol class="breadcrumb">
          <li> <%=link_to 'Home', controller: 'statics'%></li>
			 <li> <%=link_to 'Compras', compras_url %></li>
          <li> <%=link_to 'Solicitud', solicitud_url %></li>
        <li class="active">Cotización </a></li>
      </ol>
</div>


	<div class="grid_12">
		<h3>Cotizaciones</h3>
		<%= link_to '<button type="button" class="btn btn-primary"> Agregar otra cotización </button>'.html_safe, new_quote_path %> <br><br>
		<%= link_to '<button type="button" class="btn btn-primary"> Volver a solicitud de compras </button>'.html_safe,
																													 solicitud_url %>
		<%= render 'quotetable' %>
	</div>



