<div class="grid_12">
      <ol class="breadcrumb">
          <li> <%=link_to 'Home', controller: 'statics'%></li>
			 <li> <%=link_to 'Compras', compras_url %></li>
          <li> <%=link_to 'Solicitud', solicitud_url %></li>
        <li class="active">Cotización </a></li>
      </ol>
</div>

<div class="grid_12">
	<div id="tittle">
  	<table id="quoteTable" class="table table-bordered">
 	  <thread>
     	 <tr>
       	<th>Nombre de la empresa</th>
       	<td><%=@quote.nombre%></td>
    	</tr>
     	 <tr>
       	<th>Cotización</th>
       	<td><%= link_to "Ver cotización", @quote.attachment_url %></td>
    	</tr>
 	 </thread>
	</table>
	<br>
   <%= link_to '<button type="button" class="btn btn-primary"> Modificar </button>'.html_safe, edit_quote_path(@quote) %><br><br>
   <%= link_to '<button type="button" class="btn btn-primary"> Eliminar </button>'.html_safe, @quote,method: :delete,
       data: { confirm: "¿Está seguro que desea eliminar la cotización de  #{@quote.nombre} ?" } %></td><br><br>
   <%= link_to '<button type="button" class="btn btn-primary"> Atrás </button>'.html_safe, quotes_path %><br>
	</div>
</div>

<style>

#quoteTable th, td, tr{
	border-color:#7A7070;
   font-size: 14px;
 
}

#quoteTable th {
background-color: #F2F8F7;
}



.table-bordered {

	border-color:#7A7070;

}

.table-bordered>tbody>tr>td {

	border-color:#7A7070;


}


#quoteTable td:nth-child(even) {

border-color:#7A7070;

}

</style>

