<h2>Editar <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div><b><%= 'Usuario' %></b><br />
  <%= f.text_field :username, autofocus: true %></div>
  <br>

  <div><b><%= 'Correo' %></b><br />
  <%= f.email_field :email %></div>
  <br>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div><b><%= 'Nueva Contraseña' %> </b><i><br>
  <font size="2">(Dejelo en blanco si no quiere cambiarlo)</i></font><br />
    <%= f.password_field :password, autocomplete: "off" %></div>
<br>

  <div><b><%= 'Confirmación Contraseña' %></b><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %></div>


<div class="field">
<br>
<b><%='Tipo de usuario:' %></b><br>
  <%= f.check_box :director %>
  <%= 'Director'%><br>
  <%= f.check_box :directorate %>
  <%= 'Coordinador dirección'%><br>
  <%= f.check_box :gsmp %>
  <%= 'GSMP'%><br><br>
  

  <%= 'Coordinación de adquisiciones :' %><br>
  <%= f.check_box :acquisition %>
  <%= 'Coordinador'%>
  <%= f.check_box :acquisition_analist %>
  <%= 'Analista'%><br><br>

  <%= 'Coordinación de importaciones :' %><br>
  <%= f.check_box :import %>
  <%= 'Coordinador'%>
  <%= f.check_box :import_analist %>
  <%= 'Analista'%><br><br>

  <%= 'Coordinación de administración:' %><br>
  <%= f.check_box :manage %>
  <%= 'Coordinador'%>
  <%= f.check_box :manage_analist %>
  <%= 'Analista'%><br><br>

  <%= 'Coordinación de calidad:' %><br>
  <%= f.check_box :quality %>
  <%= 'Coordinador'%>
  <%= f.check_box :quality_analist %>
  <%= 'Analista'%><br><br>


  <%= 'Personal laboratorio :' %><br>
  <%= f.check_box :labBoss %>
  <%= 'Jefe de laboratorio'%>
  <%= f.check_box :labassistant %>
  <%= 'Asistente de laboratorio'%><br>
  <%= f.check_box :section_boss %>
  <%= 'Jefe de sección'%>
  <%= f.check_box :proy_responsible %>
  <%= 'Responsable de proyecto'%><br>
  <%= f.check_box :technician %>
  <%= 'Técnico'%><br><br>
  <%= f.check_box :external %>
  <%= 'Agente externo'%><br>
</div>

<br>
  <div><b><%= 'Contraseña actual' %></b> <i><br>
  <font size="2">(Necesaria para aplicar los cambios)</i></font><br />
    <%= f.password_field :current_password, autocomplete: "off" %></div>

<br>

  <div><%= f.submit " Actualizar" %></div>
<% end %>

<br>
<p><h3>Cancelar mi cuenta</h3>

<%= button_to "Cancelarla", registration_path(resource_name), data: { confirm: "Estás seguro?" }, method: :delete %></p>

<i class="fa fa-arrow-left"></i><%= link_to " Atrás", inventario_url %>
