<%= form_for(@chemical_substance) do |f| %>
  <% if @chemical_substance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@chemical_substance.errors.count, "error") %> prohibited this chemical_substance from being saved:</h2>

      <ul>
      <% @chemical_substance.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Nombre %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :Pureza %><br>
    <%= f.text_field :purity %>
  </div>
  <div class="field">
    <%= f.label :Estado_Materia %><br>
    <%= f.select(:matter_states, [['Sólido'], ['Líquido'], ['Gaseoso'] ] ) %>
  </div>
  <div class="field">
    <%= f.label :controlado %><br>
    <%= f.select(:controlled, [['Si'], ['No']] ) %>

  </div>
  <div class="field">
    <%= f.label :regimen_legal %><br>
    <%= f.text_field :legal_regime %>
  </div>
  <div class="field">
    <%= f.label :cantidad %><br>
    <%= f.number_field(:quantity, min: 0) %>
  </div>
  <div class="field">
    <%= f.label :cas %><br>
    <%= f.text_field :cas %>
  </div>
  <div class="field">
    <%= f.label :use %><br>
    <%= f.text_field :use %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :responsable %><br>
    <%= f.text_field :responsible %>
  </div>
  <div class="field">
    <%= f.label :ubicación %><br>
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :fecha_de_expiración %><br>
    <%= f.date_select :expiration_date %>
  </div>
  <div class="field">
    <%= f.label :peligrosidad %><br>
    <%= f.text_field :dangerous %>
   
  </div>

  <div class="field">
    <%= f.label :regimen_legal %><br>
        <br>
    <%= f.check_box :rI7 %>
    <%= 'RI7' %><br>
    <%= f.check_box :rI4 %>
    <%= 'RI4' %><br>
    <br>
  </div>



<div class="field">
    <%= f.label :peligro %><br>
    <br>
    <%= f.check_box :toxic %>
    <%= f.label :Tóxico %>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <%= f.check_box :inflamable %>
    <%= f.label :Inflamable %><br>
    <%= f.check_box :oxidant %>
    <%= f.label :Comburente  %>&nbsp;
    <%= f.check_box :corrosive %>
    <%= f.label :Corrosivo %><br>
    <%= f.check_box :explosive %>
    <%= f.label :Explosivo %>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <%= f.check_box :nocive %>
    <%= f.label :Nocivo %><br>
    <%= f.check_box :irritating %>
    <%= f.label :Irritante %><br>

  </div>


  <div class="field">
  <br>
    <%=  'Uso' %><br>
   <%= f.check_box :investigation %>
    <%= f.label :Investigación %><br>
    <%= f.check_box :teaching %>
    <%= f.label :Docencia %><br>
    <%= f.check_box :extention %>
    <%= f.label :Extensión %><br>
    <%= f.check_box :management %>
    <%= f.label :Gestión %><br>
   </div>
<br> 


<% end %>
