<%= form_for(@chemical_substance) do |f| %>
      <% if @chemical_substance.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@chemical_substance.errors.count, "error(es") %>) prohíben que esta sustancia química sea guardada:</h2>

          <ul>
          <% @chemical_substance.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class ="Informacion">




    <div class="col-xs-12">
        <table class="table table-striped">
          <tr>
            <td class="col-xs-5 text-right"><strong>Nombre:</strong></td>
            <td class="col-xs-7"><%= f.text_field :name %></td>
          </tr>
          <tr>
            <td class="col-xs-5 text-right"><strong>Pureza:</strong></td>
            <td class="col-xs-7"><%= f.number_field(:purity, min: 0, max: 100, :step => 'any') %></td>
          </tr>
          <tr>
            <td class="col-xs-5 text-right"><strong>Estado materia:</strong></td>
            <td class="col-xs-7"><%= f.select(:matter_states, [['Sólido'], ['Líquido'], ['Gaseoso'] ] ) %></td>
          </tr>
          <tr>
            <td class="col-xs-5 text-right"><strong>Controlado:</strong></td>
            <td class="col-xs-7"><%= f.select(:controlled, [['Sí'], ['No']] ) %></td>
          </tr>
          <tr>
            <td class="col-xs-5 text-right"><strong>Régimen legal:</strong></td>
            <td class="col-xs-7">  <%= f.check_box :rI7 %>
                                      <%= 'RL7' %>
                                      <%= f.check_box :rI4 %>
                                      <%= 'RL4' %><br>
            </td>

          </tr>
     
            <tr>
            <td class="col-xs-5 text-right"><strong>Cantidad:</strong></td>
            <td class="col-xs-7"><%= f.number_field(:quantity, min: 0, :step => 'any') %>
            <%= f.select(:meassure, [['kg'], ['g'], ['mg'], ['l'], ['ml'] ] ) %></td>
          </tr>
           <tr>
            <td class="col-xs-5 text-right"><strong>CAS:</strong></td>
            <td class="col-xs-7"><%= f.text_field :cas %></td>
          </tr>
           <tr>
            <td class="col-xs-5 text-right"><strong>Estado:</strong></td>
            <td class="col-xs-7"><%=f.select(:status, [['Vigente'], ['Vencido'], ['Indeterminado']] )%></td>
          </tr>
           <tr>
            <td class="col-xs-5 text-right"><strong>Responsable:</strong></td>
            <td class="col-xs-7"><%= f.text_field :responsible %></td>
          </tr>
          <tr>
            <td class="col-xs-5 text-right"><strong>Ubicación:</strong></td>
            <td class="col-xs-7"><%=  f.text_field :location %></td>
          </tr>
           
                  <tr>
        <td class="col-xs-5 text-right"><strong>Fecha de expiración:</strong></td>
        <td class="col-xs-7"><%=f.date_select :expiration_date, {:use_month_names => ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre']} %></td>
      </tr>
       <tr>
        <td class="col-xs-5 text-right"><strong>Ubicación:</strong></td>
        <td class="col-xs-7"><%=  f.text_field :location %></td>
      </tr>
       <tr>
          <td class="col-xs-5 text-right"><strong>Peligrosidad:</strong></td>
          <td class="col-xs-7">
              <%= f.check_box :toxic %>
              <%= f.label :Tóxico %>&nbsp;&nbsp;
              
              <%= f.check_box :inflamable %>
              <%= f.label :Inflamable %>&nbsp;&nbsp;
              <%= f.check_box :oxidant %>
              <%= f.label :Comburente  %>&nbsp;
              <%= f.check_box :corrosive %>
              <%= f.label :Corrosivo %>&nbsp;&nbsp;
              <%= f.check_box :explosive %>
              <%= f.label :Explosivo %>&nbsp;&nbsp;
              <br>
              <%= f.check_box :nocive %>
              <%= f.label :Nocivo %>&nbsp;&nbsp;
              <%= f.check_box :irritating %>
              <%= f.label :Irritante %>
        </td>
      </tr>
      <tr>
        <td class="col-xs-5 text-right"><strong>Uso:</strong></td>
            <td class="col-xs-7">   <%= f.check_box :investigation %>
            <%= 'Investigación' %>
            <%= f.check_box :teaching %>
            <%= 'Docencia' %>
            <%= f.check_box :extention %>
            <%= 'Extensión' %>
            <%= f.check_box :management %>
            <%= 'Gestión' %></div></td>
          </tr>


      <tr>
        <td class="col-xs-5 text-right">
           <div class="actions">
            <%= f.submit %><td>
           </div>
      </tr>
          

          
        </table>

      </div>



        <br>
        
        <br><br>
    </div>
<% end %>
