<ol class="breadcrumb">
  <li> <%=link_to 'Inicio', controller: 'statics'%></li>
  <li> <%=link_to 'Inventario', inventario_url %></li>
  <li class="active"> Sustancias Químicas </li>
</ol>  

<class="LaLa">
  <div id="LeDivQuimicas">

    <h1><i class="fa fa-flask"></i> Sustancias Químicas</h1>


  <div id = "table2">
    </div>
     <br>

        <style type="text/css">
       
        .tg  {border-collapse:collapse;border-spacing:0;border-color:#999;}
        .tg td{font-family:Arial, sans-serif;font-size:15px;padding: 12px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#999;color:#444;background-color:#F7FDFA;}
        .tg th{font-family:Arial, sans-serif;font-size:16px;font-weight:normal;padding:15px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#999;color:#fff;background-color:#6358F2;}
        .tg .tg-qpa3{font-family:Arial, Helvetica, sans-serif !important;;text-align:center}
        .tg .tg-s6z2{text-align:center}
        .tg .tg-093g{font-weight:bold;text-align:center;}
        .tg .tg-hgcj{font-weight:bold;text-align:center;}
        .tg .tg-092g{color:#FFFFFF;background-color:#FFFFFF;font-weight:bold;text-align:left;font-size:14px;font-style: oblique; border-width:0px; padding: 4px; line-height:1.4em;}

        </style> 

      <div id="search">
  		<%= form_tag(chemical_substances_path, :method => "get", id: "search-form") do %>
  			<%= text_field_tag :search, params[:search], placeholder: "Nombre de la Sustancia" %>
  			<%= submit_tag "Buscar", :class => 'btn btn-success btn-sm', :name => nil %>
  			
<!-- 			<%= text_field_tag :searchDep, params[:searchDep], placeholder: "Buscar en Dependencia" %> -->
  <!-- 			<%= select_tag(:columna, options_for_select(@chemical_substances.columns.map{|c| [c.name] }),:selected => "name") %> -->
<!--   			<%= select_tag params[:column],options_for_select([['Nombre',"name"],['Dependencia',"dependency"]]),:selected => "name" %> -->
<!--   			<%= submit_tag "Buscar", :class => 'btn btn-success btn-sm', :name => nil %> -->
  		<% end %>
      </div>
      <br>

      <thead>
        <table class="tg">
        <tr>
          <th class="tg-093g">Nombre</th>
          <th class="tg-093g">Estado de la Materia</th>
          <th class="tg-093g">Cantidad</th>
          <th class="tg-hgcj">  </th>
          <th class="tg-hgcj">Ubicación</th>
          <th class="tg-hgcj">Responsable</th>
      
         <!--  
              <th class="tg-hgcj">Status</th> 
         <th>Purity</th>
          <th class="tg-hgcj">Fecha Expiración</th> 
          <th class="tg-hgcj">CAS</th>
          <th>Matter states</th>
          <th>Controlled</th>
     
          <th>Ri7</th>
          <th>Ri4</th>
          <th>Toxic</th>
          <th>Oxidant</th>
          <th>Explosive</th>
          <th>Irritating</th>
          <th>Inflamable</th>
          <th>Corrosive</th>
          <th>Nocive</th>
          <th>Investigation</th>
          <th>Teaching</th>
          <th>Extention</th> -->
         
        </tr>
      </thead>

      <tbody>
        <% @chemical_substances.each do |chemical_substance| %>
          <tr>
            <td class="tg-s6z2"><%= link_to chemical_substance.name, chemical_substance %></td>
           <td class="tg-s6z2"><%= chemical_substance.matter_states %></td>
           <td class="tg-s6z2"><%= chemical_substance.quantity %></td>
           <td class="tg-s6z2"><%= chemical_substance.meassure %></td>
          <td class="tg-s6z2"><%= chemical_substance.location %></td>
          <td class="tg-qpa3"><%= chemical_substance.responsible %></td>
          
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>


    <% if can? :create, @chemical_substance %>
      <i class="fa fa-plus-circle"></i><%= link_to ' Nueva Sustancia', new_chemical_substance_path, 'data-no-turbolink' => true %> | 
    <%end%>
    <i class="fa fa-exchange"></i><%= link_to ' Solicitar Préstamo ', new_loan_path %> | 
    <i class="fa fa-phone"></i><%= link_to ' Solicitar Servicio ', inventario_url %> | 
    <i class="fa fa-arrow-left"></i><%= link_to ' Atrás ', inventario_url %>
    <br><br><br><br><br><br><br>
    

  </div>
 </div>
