<h1>Nueva Sustancia Química</h1>
<ol class="breadcrumb">
	<li> <%=link_to 'Inicio', controller: 'statics'%></li>
	<li> <%=link_to 'Inventario', inventario_url %></li>
	<li> <%=link_to 'Sustancias Químicas', chemical_substances_path %></li>
	<li class="active"> Nueva </li>
</ol>

<div id = "table2">
</div>
<br>

<%= render 'form' %>

<i class="fa fa-arrow-left"></i><%= link_to ' Atrás', chemical_substances_path %>
<br><br><br><br>
