<p id="notice"><%= notice %></p>
<ol class="breadcrumb">
	<li> <%=link_to 'Inicio', controller: 'statics'%></li>
	<li> <%=link_to 'Inventario', inventario_url %></li>
	<li> <%=link_to 'Sustancias Químicas', chemical_substances_path %></li>
	<li class="active"> Ver </li>
</ol>





    <div class="col-xs-12">
        <table class="table table-striped">
          <tr>
            <td class="col-xs-5 text-right"><strong>Nombre:</strong></td>
            <td class="col-xs-7"><%= @chemical_substance.name %></td>
          </tr>
          <tr>
            <td class="col-xs-5 text-right"><strong>Pureza:</strong></td>
            <td class="col-xs-7"><%=@chemical_substance.purity %></td>
          </tr>
          <tr>
            <td class="col-xs-5 text-right"><strong>Estado materia:</strong></td>
            <td class="col-xs-7"><%= @chemical_substance.matter_states %></td>
          </tr>
          <tr>
            <td class="col-xs-5 text-right"><strong>Controlado:</strong></td>
            <td class="col-xs-7">
              <% if @chemical_substance.controlled %>
                <%= 'SÍ' %>
              <% else %>
                <%= 'NO' %>
              <% end %></td>
          </tr>
          <tr>
            <td class="col-xs-5 text-right"><strong>Régimen legal:</strong></td>
            <td class="col-xs-7">  <% if @chemical_substance.rI7 %>
              <%= 'RL7' %>
            <% end %>
            <% if @chemical_substance.rI4 %>
              <%= ' RL4' %>
            <% end %>
            </td>

          </tr>
     
            <tr>
            <td class="col-xs-5 text-right"><strong>Cantidad:</strong></td>
            <td class="col-xs-7"> <%= @chemical_substance.quantity %><% @chemical_substance.meassure %></td>
          </tr>
           <tr>
            <td class="col-xs-5 text-right" ><strong title="Servicio de Resúmenes Químicos (Chemical Abstract Service)">CAS:</strong></td>
            <td class="col-xs-7"><%= @chemical_substance.cas %></td>
          </tr>
           <tr>
            <td class="col-xs-5 text-right"><strong>Estado:</strong></td>
            <td class="col-xs-7"><%= @chemical_substance.status %></td>
          </tr>
           <tr>
            <td class="col-xs-5 text-right"><strong title="Persona responsable del Item">Responsable:</strong></td>
            <td class="col-xs-7"> <%= @chemical_substance.responsible %></td>
          </tr>
          <tr>
            <td class="col-xs-5 text-right"><strong>Dependencia:</strong></td>
            <td class="col-xs-7"><%= @chemical_substance.dependency %></td>
          </tr>
          <tr>
            <td class="col-xs-5 text-right"><strong>Ubicación Física:</strong></td>
            <td class="col-xs-7"><%= @chemical_substance.location %></td>
          </tr>
           
                  <tr>
        <td class="col-xs-5 text-right"><strong>Fecha de expiración:</strong></td>
        <td class="col-xs-7"><%= @chemical_substance.expiration_date %></td>
      </tr>
       <tr>
          <td class="col-xs-5 text-right"><strong>Peligrosidad:</strong></td>
          <td class="col-xs-7">
             <% if @chemical_substance.toxic %>
              <%= ' TÓXICO ' %>
            <% end %>
            <% if @chemical_substance.oxidant %>
              <%= ' COMBURENTE ' %>
            <% end %>
            <% if @chemical_substance.explosive %>
              <%= ' EXPLOSIVO ' %>
            <% end %>
            <% if @chemical_substance.irritating %>
              <%= ' IRRITANTE ' %>
            <% end %>
            <% if @chemical_substance.inflamable %>
              <%= ' INFLAMABLE ' %>
            <% end %>
            <% if @chemical_substance.corrosive %>
              <%= ' CORROSIVO ' %>
            <% end %>
            <% if @chemical_substance.nocive %>
              <%= ' NOCIVO' %>
            <% end %>
        </td>
      </tr>

        <tr>
        <td class="col-xs-5 text-right"><strong>Uso:</strong></td>
            <td class="col-xs-7">   
            <% if @chemical_substance.investigation %>
              <%= ' INVESTIGACIÓN ' %>
            <% end %>
            <% if @chemical_substance.teaching %>
              <%= ' DOCENCIA ' %>
            <% end %>
            <% if @chemical_substance.extention %>
              <%= ' EXTENSIÓN ' %>
            <% end %>
          </tr>
          
          <tr>
            <td class="col-xs-5 text-right"><strong>Factura:</strong></td>
            <td class="col-xs-7"><%= @chemical_substance.bill %></td>
          </tr>
          
          <tr>
            <td class="col-xs-5 text-right"><strong>Costo:</strong></td>
            <td class="col-xs-7"><%= @chemical_substance.cost %> BS.</td>
          </tr>
          
          <tr>
            <td class="col-xs-5 text-right"><strong>Órden de Compra:</strong></td>
            <td class="col-xs-7"><%= @chemical_substance.buy_order %></td>
          </tr>
          
          <tr>
            <td class="col-xs-5 text-right"><strong>Fecha Adquisición:</strong></td>
            <td class="col-xs-7"><%= @chemical_substance.adquisition_date %></td>
          </tr>
          
         </div></td>
        </table>

      </div>




<div class="col-xs-12">
<% if can? :update, @chemical_substance %>
  <i class="fa fa-cog"></i><%= link_to ' Editar', edit_chemical_substance_path(@chemical_substance), 'data-no-turbolink' => true %> |
<% end %>
<% if can? :create, @chemical_substance %>
      <i class="fa fa-plus-circle"></i><%= link_to ' Nueva Sustancia', new_chemical_substance_path %> | 
<%end%>
<% if can? :hide, @chemical_substance %>
      <i class="fa fa-times fa-1x"></i><%= link_to ' Ocultar', @chemical_substance, method: :delete, data: { confirm: '¿Estás seguro?' } %> |
<%end%>
<i class="fa fa-arrow-left"></i><%= link_to ' Atrás', chemical_substances_path %>
<br><br><br><br>
</div>
