<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @chemical_substance.name %>
</p>

<p>
  <strong>Pureza:</strong>
  <%= @chemical_substance.purity %>
</p>

<p>
  <strong>Estado de la materia:</strong>
  <%= @chemical_substance.matter_states %>
</p>

<p>
  <strong>Controlada:</strong>
  <%= @chemical_substance.controlled %>
</p>

<p>
  <strong>Regimen Legal:</strong>
  <%= @chemical_substance.legal_regime %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @chemical_substance.quantity %>
</p>

<p>
  <strong>CAS:</strong>
  <%= @chemical_substance.cas %>
</p>

<p>
  <strong>USO:</strong>
  <%= @chemical_substance.use %>
</p>

<p>
  <strong>Estatus:</strong>
  <%= @chemical_substance.status %>
</p>

<p>
  <strong>Responsable:</strong>
  <%= @chemical_substance.responsible %>
</p>

<p>
  <strong>Ubicación:</strong>
  <%= @chemical_substance.location %>
</p>

<p>
  <strong>Fecha de expiración:</strong>
  <%= @chemical_substance.expiration_date %>
</p>

<p>
  <strong>Peligrosidad:</strong>
  <%= @chemical_substance.dangerous %>
</p>

<p>
  <strong>RI7:</strong>
  <%= @chemical_substance.rI7 %>
</p>

<p>
  <strong>RI4:</strong>
  <%= @chemical_substance.rI4 %>
</p>

<p>
  <strong>Toxico:</strong>
  <%= @chemical_substance.toxic %>
</p>

<p>
  <strong>Comburente:</strong>
  <%= @chemical_substance.oxidant %>
</p>

<p>
  <strong>Explosivo:</strong>
  <%= @chemical_substance.explosive %>
</p>

<p>
  <strong>Irritante:</strong>
  <%= @chemical_substance.irritating %>
</p>

<p>
  <strong>Inflamable:</strong>
  <%= @chemical_substance.inflamable %>
</p>

<p>
  <strong>Corrosivo:</strong>
  <%= @chemical_substance.corrosive %>
</p>

<p>
  <strong>Nocivo:</strong>
  <%= @chemical_substance.nocive %>
</p>

<p>
  <strong>Investigación:</strong>
  <%= @chemical_substance.investigation %>
</p>

<p>
  <strong>Docencia:</strong>
  <%= @chemical_substance.teaching %>
</p>

<p>
  <strong>Extensión:</strong>
  <%= @chemical_substance.extention %>
</p>

<p>
  <strong>Gestión:</strong>
  <%= @chemical_substance.management %>
</p>
<br>
<i class="fa fa-cog"></i><%= link_to ' Editar', edit_chemical_substance_path(@chemical_substance) %> |
<i class="fa fa-arrow-left"></i><%= link_to ' Atrás', chemical_substances_path %>
