<p id="notice"><%= notice %></p>
<ol class="breadcrumb">
	<li> <%=link_to 'Home', controller: 'statics'%></li>
	<li> <%=link_to 'Inventario', inventario_url %></li>
	<li> <%=link_to 'Sustancias Químicas', chemical_substances_path %></li>
	<li class="active"> Ver </li>
</ol>
<p>
  <strong>Nombre:</strong>
  <%= @chemical_substance.name %>
</p>

<p>
  <strong>Pureza:</strong>
  <%= @chemical_substance.purity %> %
</p>

<p>
  <strong>Estado de la materia:</strong>
  <%= @chemical_substance.matter_states %>
</p>

<p>
  <strong>Controlada:</strong>
  <% if @chemical_substance.controlled %>
    <%= 'Sí' %>
  <% else %>
    <%= 'No' %>
  <% end %>
  
</p>

<p>
  <strong>Régimen Legal:</strong>

   <% if @chemical_substance.rI7 %>
    <%= 'RI7' %>
  <% end %>
  <% if @chemical_substance.rI4 %>
    <%= ' RI4' %>
  <% end %>

</p>


<p>
  <strong>Cantidad:</strong>
  <%= @chemical_substance.quantity %><% @chemical_substance.meassure %>
</p>

<p>
  <strong>CAS:</strong>
  <%= @chemical_substance.cas %>
</p>

<p>
  <strong>Estatus:</strong>
  <%= @chemical_substance.status %>
</p>

<p>
  <strong>Responsable:</strong>
  <%= @chemical_substance.responsible %>
</p>

<p>
  <strong>Ubicación:</strong>
  <%= @chemical_substance.location %>
</p>

<p>
  <strong>Fecha de expiración:</strong>
  <%= @chemical_substance.expiration_date %>
</p>

<p>
  <strong>Peligrosidad:</strong>
 
  <% if @chemical_substance.toxic %>
    <%= ' Tóxico ' %>
  <% end %>
  <% if @chemical_substance.oxidant %>
    <%= ' Comburente ' %>
  <% end %>
  <% if @chemical_substance.explosive %>
    <%= ' Explosivo ' %>
  <% end %>
  <% if @chemical_substance.irritating %>
    <%= ' Irritante ' %>
  <% end %>
  <% if @chemical_substance.inflamable %>
    <%= ' Inflamable ' %>
  <% end %>
  <% if @chemical_substance.corrosive %>
    <%= ' Corrosivo ' %>
  <% end %>
  <% if @chemical_substance.nocive %>
    <%= ' Nocivo' %>
  <% end %>
</p>

<p>
  <strong>Uso:</strong>

  <% if @chemical_substance.investigation %>
    <%= ' Investigación ' %>
  <% end %>
  <% if @chemical_substance.teaching %>
    <%= ' Docencia ' %>
  <% end %>
  <% if @chemical_substance.extention %>
    <%= ' Extensión ' %>
  <% end %>
  <% if @chemical_substance.management %>
    <%= ' Gestión ' %>
  <% end %>
</p>

<br><br>
<% if can? :update, @chemical_substance %>
  <i class="fa fa-cog"></i><%= link_to ' Editar', edit_chemical_substance_path(@chemical_substance) %> |
<% end %>
<i class="fa fa-arrow-left"></i><%= link_to ' Atrás', chemical_substances_path %>
<br><br><br><br>
