<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @chemical_substance.name %>
</p>

<p>
  <strong>Purity:</strong>
  <%= @chemical_substance.purity %>
</p>

<p>
  <strong>Matter states:</strong>
  <%= @chemical_substance.matter_states %>
</p>

<p>
  <strong>Controlled:</strong>
  <%= @chemical_substance.controlled %>
</p>

<p>
  <strong>Legal regime:</strong>
  <%= @chemical_substance.legal_regime %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @chemical_substance.quantity %>
</p>

<p>
  <strong>Cas:</strong>
  <%= @chemical_substance.cas %>
</p>

<p>
  <strong>Use:</strong>
  <%= @chemical_substance.use %>
</p>

<p>
  <strong>Status:</strong>
  <%= @chemical_substance.status %>
</p>

<p>
  <strong>Responsible:</strong>
  <%= @chemical_substance.responsible %>
</p>

<p>
  <strong>Location:</strong>
  <%= @chemical_substance.location %>
</p>

<p>
  <strong>Expiration date:</strong>
  <%= @chemical_substance.expiration_date %>
</p>

<p>
  <strong>Dangerous:</strong>
  <%= @chemical_substance.dangerous %>
</p>

<p>
  <strong>Ri7:</strong>
  <%= @chemical_substance.rI7 %>
</p>

<p>
  <strong>Ri4:</strong>
  <%= @chemical_substance.rI4 %>
</p>

<p>
  <strong>Toxic:</strong>
  <%= @chemical_substance.toxic %>
</p>

<p>
  <strong>Oxidant:</strong>
  <%= @chemical_substance.oxidant %>
</p>

<p>
  <strong>Explosive:</strong>
  <%= @chemical_substance.explosive %>
</p>

<p>
  <strong>Irritating:</strong>
  <%= @chemical_substance.irritating %>
</p>

<p>
  <strong>Inflamable:</strong>
  <%= @chemical_substance.inflamable %>
</p>

<p>
  <strong>Corrosive:</strong>
  <%= @chemical_substance.corrosive %>
</p>

<p>
  <strong>Nocive:</strong>
  <%= @chemical_substance.nocive %>
</p>

<p>
  <strong>Investigation:</strong>
  <%= @chemical_substance.investigation %>
</p>

<p>
  <strong>Teaching:</strong>
  <%= @chemical_substance.teaching %>
</p>

<p>
  <strong>Extention:</strong>
  <%= @chemical_substance.extention %>
</p>

<p>
  <strong>Management:</strong>
  <%= @chemical_substance.management %>
</p>

<%= link_to 'Edit', edit_chemical_substance_path(@chemical_substance) %> |
<%= link_to 'Back', chemical_substances_path %>
