<%= form_for(@equipment) do |f| %>
  <% if @equipment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@equipment.errors.count, "error(es") %>) prohíben que este equipo sea guardado:</h2>

      <ul>
      <% @equipment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

 <table class="table table-striped">
          <tr>
            <td class="col-xs-5 text-right"><strong>Nombre:</strong></td>
            <td class="col-xs-7"> <%= f.text_field :name %>
            <span class="red">*</span></td>
          </tr>
          <tr>
            <td class="col-xs-5 text-right"><strong>Marca:</strong></td>
            <td class="col-xs-7"> <%= f.text_field :brand %></td>
          </tr>
          <tr>
            <td class="col-xs-5 text-right"><strong>Modelo:</strong></td>
            <td class="col-xs-7"><%= f.text_field :model  %></td>
          </tr>
          <tr>
            <td class="col-xs-5 text-right"><strong>Serial:</strong></td>
            <td class="col-xs-7"><%= f.text_field(:serial) %></td>
          </tr>
          <tr>
            <td class="col-xs-5 text-right"><strong>Número de Bien Nacional:</strong></td>
            <td class="col-xs-7">  <%= f.number_field(:national_good, min: 0) %></td>
          </tr>
     
            <tr>
            <td class="col-xs-5 text-right"><strong>Estado:</strong></td>
            <td class="col-xs-7"> <%= f.select(:status, [['Operativo'], ['Inoperativo Temporalmente'], ['En Desuso'] ] ) %></td>
          </tr>
           <tr>
            <td class="col-xs-5 text-right"><strong>Calibrado:</strong></td>
            <td class="col-xs-7"><%= f.select(:calibrated, [['N/A'],['Sí'], ['No'], ['Desconocido'] ])  %></td>
          </tr>
           <tr>
            <td class="col-xs-5 text-right"><strong>Última Calibración:</strong></td>
            <td class="col-xs-7"> <%= f.text_field :last_calibration, :class => "datepicker" %></td>
          </tr>
           <tr>
            <td class="col-xs-5 text-right"><strong>Dimensiones:</strong></td>
            <td class="col-xs-7">
            <strong>Alto:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</strong>
            <%= f.number_field(:length, min: 0, :step => 'any') %>
            <%= f.select(:measurelength, [['M'], ['MM']] ) %><br><br>
            <strong>Ancho:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp </strong>
             <%= f.number_field(:width, min: 0, :step => 'any') %>
            <%= f.select(:measurewidth, [['M'], ['MM']] ) %><br><br>
            <strong>Profundidad:</strong>
            <%= f.number_field(:depth, min: 0, :step => 'any') %>
            <%= f.select(:measuredepth, [['M'], ['MM']] ) %>
            </td>
          </tr>
           
        <tr>
          <td class="col-xs-5 text-right"><strong>Responsable:</strong></td>
          <td class="col-xs-7"><%= f.text_field :responsible %>
      <span class="red">*</span></td>
      </tr>
          <tr>
            <td class="col-xs-5 text-right"><strong>Dependencia:</strong></td>
            <td class="col-xs-7"><%= f.text_field :dependency %>
            <span class="red">*</span> </td>
          </tr>
          
          <tr>
            <td class="col-xs-5 text-right"><strong>Ubicación Física:</strong></td>
            <td class="col-xs-7"><%= f.text_field :location %>
            <span class="red">*</span> </td>
          </tr>
      <tr>
          <td class="col-xs-5 text-right"><strong>Fecha Adquisición:</strong></td>
          <td class="col-xs-7"><%= f.text_field :adquisition_date, :class => "datepicker" %>
        </td>
      </tr>
      <tr>
          <td class="col-xs-5 text-right"><strong>Orden de Compra:</strong></td>
          <td class="col-xs-7"> <%= f.text_field :buy_order %>
        </td>
      </tr>
      <tr>
          <td class="col-xs-5 text-right"><strong>Costo:</strong></td>
          <td class="col-xs-7"> <%= f.text_field :cost %>&nbsp;BS.</td>
        </td>
      </tr>
       <tr>
          <td class="col-xs-5 text-right"><strong>Factura:</strong></td>
          <td class="col-xs-7"> <%= f.text_field :bill %>
        </td>
      </tr>
      <tr>
        <td class="col-xs-5 text-right"><strong>Uso:</strong></td>
         <td class="col-xs-7">  
         <%= f.check_box :investigation %>
         <%= 'Investigación' %>
         <%= f.check_box :teaching %>
         <%= 'Docencia' %>
         <%= f.check_box :extention %>
         <%= 'Extensión' %>
         <%= f.check_box :management %>
         <%= 'Gestión' %><br>
      </tr>

           <tr>
            <td class="col-xs-5 text-right">
               <div class="actions">
                <%= f.submit %><td>
               </div>
          </tr>

        </table>
    <br>
    <br>
    
    <br><br>
  
<% end %>
