<h1>Nuevo Equipo</h1>
<ol class="breadcrumb">
	<li> <%=link_to 'Inicio', controller: 'statics'%></li>
	<li> <%=link_to 'Inventario', inventario_url %></li>
	<li> <%=link_to 'Equipos y mobiliarios', equipments_url %></li>
	<li class="active"> Nuevo </li>
</ol>
<div id = "table2">
</div>
<br>

<%= render 'form' %>

<i class="fa fa-arrow-left"></i><%= link_to ' Atrás', equipments_path , 'data-no-turbolink' => true%>
<br><br><br><br>
