<%= form_for(@application) do |f| %>
      <% if @application.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@application.errors.count, "error(es") %>) prohíben que esta solicitud de servicio sea guardada:</h2>

          <ul>
          <% @application.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

<div class ="Informacion">


<td class="col-xs-7">

    <div class="col-xs-12">
        <table class="table table-striped">
          <tr>
            <td class="col-xs-5 text-right"><strong>Fecha requerida:</strong></td>
            <td class="col-xs-7"><%= f.text_field :fechaRequerida, :class => "datepicker" %><span class="red">*</span></td>
          </tr>
          <tr>
            <td class="col-xs-5 text-right"><strong>Descripción del servicio:</strong></td>
            <td class="col-xs-7"><%= f.text_field :descripcion %><span class="red">*</span></td>
          </tr>
            <tr>
            <td class="col-xs-5 text-right"><strong>Uso del Servicio:</strong></td>
            <td class="col-xs-7"><%= f.select(:uso, [['DOCENTE'], ['INVESTIGACIÓN']] ) %><span class="red">*</span></td>
          </tr>
        <tr>

        <td class="col-xs-5 text-right">
           <div class="actions">
            <%= f.submit %><td>
           </div>
      </tr>
          

          
        </table>

      </div>



        <br>
        
        <br><br>
    </div>
<% end %>