<p id="notice"><%= notice %></p>
<ol class="breadcrumb">
  <li> <%=link_to 'Inicio', controller: 'statics'%></li>
  <li> <%=link_to 'Inventario', inventario_url %></li>
  <li class="active"> Ver </li>
</ol>





    <div class="col-xs-12">
        <table class="table table-striped">
          <tr>
            <td class="col-xs-5 text-right"><strong>Fecha requerida:</strong></td>
            <td class="col-xs-7"><%= @application.fechaRequerida %></td>
          </tr>
          <tr>
            <td class="col-xs-5 text-right"><strong>Descripción del Servicio:</strong></td>
            <td class="col-xs-7"><%=@application.descripcion %></td>
          </tr>
          <tr>
            <td class="col-xs-5 text-right"><strong>Uso del Servicio:<strong></td>
            <td class="col-xs-7"><%= @application.uso %></td>
          </tr>          
         </div></td>
        </table>

      </div>




<div class="col-xs-12">
  <i class="fa fa-cog"></i><%= link_to ' Editar', edit_application_path(@application), 'data-no-turbolink' => true %> |
  <i class="fa fa-times fa-1x"></i><%= link_to ' Ocultar', @application, method: :delete, data: { confirm: '¿Estás seguro?' } %> |
<i class="fa fa-arrow-left"></i><%= link_to ' Atrás', inventario_url %>
<br><br><br><br>
</div>

