<div class="row">
	<div class="col-xs-12">
		<ol class="breadcrumb">
			<li><%= link_to 'Inicio', controller: 'statics' %></li>
			<li><%= link_to 'Administracion', administration_path %></li>
			<li class="active">Resumen Presupuestario</li>
		</ol>
	</div>
	<div class="col-xs-12">
		<h2>Resumen Presupuestario</h2>
	</div>
	<div class="col-xs-12">
		<table class="table table-striped">
			<tbody>
				<tr>
					<th>Lab</th>
					<th>Monto Asignado</th>
					<th>Monto Comprometido</th>
					<th>Balance</th>
				</tr>
				<% @labs.each do |l| %>
					<tr>
						<td><%= l.name %></td>
						<td><%= number_to_currency(@incomes_lab[l.id], :unit => "Bs.F. ") %></td>
						<td><%= number_to_currency(@commitments_lab[l.id], :unit => "Bs.F. ") %></td>
						<td><%= number_to_currency(@incomes_lab[l.id] - @commitments_lab[l.id], :unit => "Bs.F. ") %></td>
					</tr>
				<% end %>
				<tr class="success">
					<td>TOTAL</td>
					<td><%= number_to_currency(@incomes_total, :unit => "Bs.F. ") %></td>
					<td><%= number_to_currency(@commitments_total, :unit => "Bs.F. ") %></td>
					<td><%= number_to_currency(@incomes_total - @commitments_total, :unit => "Bs.F. ") %></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

