<ol class="breadcrumb">
  <li> <%=link_to 'Inicio', controller: 'statics'%></li>
  <li> <%=link_to 'Inventario', inventario_url %></li>
  <li class="active"> Equipos y mobiliarios </li>
</ol>

<div id="LeDivEquipos">
  <h1><i class="fa fa-plug"></i> Equipos y Mobiliarios</h1>


  <div id = "table2">
  </div>

  <div id="invetario"> Inventario </div>
  <br>

      <style type="text/css">
      .tg  {border-collapse:collapse;border-spacing:0;border-color:#999;}
      .tg td{font-family:Arial, sans-serif;font-size:15px;padding:12px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#999;color:#444;background-color:#F7FDFA;}
      .tg th{font-family:Arial, sans-serif;font-size:16px;font-weight:normal;padding:15px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#999;color:#fff;background-color:#D77630;}
      .tg .tg-qpa3{font-family:Arial, Helvetica, sans-serif !important;;text-align:center}
      .tg .tg-s6z2{text-align:center}
      .tg .tg-093g{font-weight:bold;text-align:center}
      .tg .tg-hgcj{font-weight:bold;text-align:center}
      .tg .tg-092g{color:#FFFFFF;background-color:#FFFFFF;font-weight:bold;text-align:left;font-size:14px;font-style: oblique; border-width:0px;line-height:1.4em;}

      </style> 

	<div id="search">
		<%= form_tag(equipment_index_path, :method => "get", id: "search-form") do %>
			<%= text_field_tag :search, params[:search], placeholder: "Equipo a buscar" %>
			<%= submit_tag "Buscar", :class => 'btn btn-success btn-sm', :name => nil %>
		<% end %>
	</div>
  <br>

    <thead>
    <table class="tg">
      <tr>
        <th class="tg-093g">Nombre</th>
  <!--       <th>Brand</th> -->
        <th class="tg-hgcj">Modelo</th>
  <!--       <th>Serial</th>
        <th>National good</th>
        <th>Status</th>
       
        <th>Use</th> -->
        <th class="tg-hgcj">Ultima Calibración</th>
        <th class="tg-hgcj">Responsable</th>
        <th class="tg-hgcj">Ubicación</th>
    <!--     <th>Adquisition date</th>
        <th>Buy order</th>
        <th>Cost</th>
        <th>Bill</th>
        <th>Investigation</th>
        <th>Teaching</th>
        <th>Extention</th>
        <th>Management</th>
        <th>Calibrated</th> -->
      
      </tr>
    </thead>

    <tbody>
      <% @equipment.each do |equipment| %>
        <tr>
          <td class="tg-s6z2"><%=  link_to equipment.name, equipment  %></td>
      <!--     <td><%= equipment.brand %></td> -->
          <td class="tg-s6z2"><%= equipment.model %></td>
   <!--        <td><%= equipment.serial %></td>
          <td><%= equipment.national_good %></td>
          <td><%= equipment.status %></td>
        
          <td>-->
          <td class="tg-s6z2"><%= equipment.last_calibration %></td>
          <td class="tg-qpa3"><%= equipment.responsible %></td>
          <td class="tg-s6z2"><%= equipment.location %></td>
       <!--    <td><%= equipment.adquisition_date %></td>
          <td><%= equipment.buy_order %></td>
          <td><%= equipment.cost %></td>
          <td><%= equipment.bill %></td>
          <td><%= equipment.investigation %></td>
          <td><%= equipment.teaching %></td>
          <td><%= equipment.extention %></td>
          <td><%= equipment.management %></td>
          <td><%= equipment.calibrated %></td> -->


        </tr>
      <% end %>
    </tbody>
  </table>

  <br>


  <br>
  <% if can? :create, @equipment %>
    <i class="fa fa-plus-circle"></i><%= link_to ' Nuevo equipo', new_equipment_path %> |
  <% end %>
  <i class="fa fa-arrow-left"></i><%= link_to ' Atrás ', inventario_url %>
  <br><br><br><br><br><br><br><br><br><br><br>
  <br>
  
</div>