<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @equipment.name %>
</p>

<p>
  <strong>Marca:</strong>
  <%= @equipment.brand %>
</p>

<p>
  <strong>Modelo:</strong>
  <%= @equipment.model %>
</p>

<p>
  <strong>Serial:</strong>
  <%= @equipment.serial %>
</p>

<p>
  <strong>Numero de Bien Nacional:</strong>
  <%= @equipment.national_good %>
</p>

<p>
  <strong>Estatus:</strong>
  <%= @equipment.status %>
</p>

<p>
  <strong>Ultima Calibraci칩n:</strong>
  <%= @equipment.last_calibration %>
</p>


<p>
  <strong>Long   Anch   Prof    Medida</strong>
  <%= @equipment.lenght %><%= @equipment.depth %><%= @equipment.width %><%= @equipment.meassure %>
</p>

<p>
  <strong>Responsable:</strong>
  <%= @equipment.responsible %>
</p>

<p>
  <strong>Ubicaci칩n:</strong>
  <%= @equipment.location %>
</p>

<p>
  <strong>Fecha Adquisici칩n:</strong>
  <%= @equipment.adquisition_date %>
</p>

<p>
  <strong>Orden de Compra:</strong>
  <%= @equipment.buy_order %>
</p>

<p>
  <strong>Costo:</strong>
  <%= @equipment.cost %>
</p>

<p>
  <strong>Factura:</strong>
  <%= @equipment.bill %>
</p>

<p>
  <strong>Uso:</strong>

  <% if @equipment.investigation %>
    <%= 'Inves' %>
  <% end %>
  <% if @equipment.teaching %>
    <%= ' Doc' %>
  <% end %>
  <% if @equipment.extention %>
    <%= ' Exten' %>
  <% end %>
  <% if @equipment.management %>
    <%= ' Gest' %>
  <% end %>
</p>
<br>
<% if can? :update, @equipment %>
  <i class="fa fa-cog"></i><%= link_to ' Editar', edit_equipment_path(@equipment) %> |
<% end %>
<i class="fa fa-arrow-left"></i><%= link_to ' Atr치s', equipment_index_path %>
