<div class="row">
	<div class="col-xs-10 col-xs-offset-1">
		<table class="table table-hover">
			<tr>
				<th>ID</th>
				<th>Lab</th>
				<th>Fecha</th>
				<th>Descripcion</th>
				<th>Organismo</th>
				<th>Documento</th>
				<th>Financiamiento</th>
				<th>Monto</th>
			</tr>
			<% @incomes.each do |i| %>
			<tr>
				<td><%= i.id %></td>
				<td><%= i.lab_id %></td>
				<td><%= i.date.strftime('%d/%m/%Y') %></td>
				<td><%= i.description %></td>
				<td><%= i.organism %></td>
				<td><%= i.document %></td>
				<td><%= i.financing %></td>
				<td><%= i.amount %></td>
			</tr>
			<% end %>
		</table>
	</div>
</div>