<div class="row">
	<div class="col-xs-12">
		<ol class="breadcrumb">
			<li><%= link_to 'Inicio', controller: 'statics' %></li>
			<li><%= link_to 'Administración', administration_path %></li>
			<li><%= link_to 'Presupuesto', budget_path %></li>
			<li><%= link_to 'Ingresos', incomes_path %></li>
			<li class="active"><%= @income.id%></li>
		</ol>
	</div>
	<div class="col-xs-12">
		<table class="table table-striped">
			<tr>
				<th class="active text-center" colspan="2"><h2><%= @income.description %></h2></th>
			</tr>
			<tr>
				<td class="col-xs-5 text-right">Dependencia:</td>
				<td class="col-xs-7"><%= @income.lab.sae_name %></td>
			</tr>
			<tr>
				<td class="col-xs-5 text-right">Código SAE:</td>
				<td class="col-xs-7"><%= @income.sae_code %></td>
			</tr>
			<tr>
				<td class="col-xs-5 text-right">Origen:</td>
				<td class="col-xs-7"><%= Income.origin_str[Income.origins[@income.origin]] %></td>
			</tr>
			<tr class="success">
				<td class="col-xs-5 text-right">Monto (Bs.):</td>
				<td class="col-xs-7"><%= number_to_currency(@income.amount, format: "%n", delimiter: ".", separator: ",") %></td>
			</tr>
			<tr>
				<td class="col-xs-5 text-right">Fuente de Financiamiento:</td>
				<td class="col-xs-7"><%= Income.financing_str[Income.financings[@income.financing]] %></td>
			</tr>
			<tr>
				<td class="col-xs-5 text-right">Organismo:</td>
				<td class="col-xs-7"><%= @income.organism %></td>
			</tr>
			<tr>
				<td class="col-xs-5 text-right">Documento:</td>
				<td class="col-xs-7"><%= @income.document %></td>
			</tr>
			<tr>
				<td class="col-xs-5 text-right">Fecha:</td>
				<td class="col-xs-7"><%= @income.date.strftime('%d/%m/%Y') unless  @income.date.blank? %>  </td>
			</tr>
		</table>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<%= link_to edit_income_path do %>
			<button type="button" class="btn btn-warning"><span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;Editar Ingreso</button>
		<% end %>
		<%= link_to action: 'destroy' do %>
			<button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span>&nbsp;&nbsp;Eliminar Ingreso</button>
		<% end %>
	</div>
</div>