<!DOCTYPE html>
<html>
<head>
</head>
<body>

<div class="grid_12">
      <ol class="breadcrumb">
          <li> <%=link_to 'Inicio', controller: 'statics'%></li>
       <li> <%=link_to 'Compras', compras_url %></li>
       <li> <%=link_to 'Especificaciones Técnicas', specifications_url %></li>
          <li> <%=link_to 'Solicitud', solicitud_url %></li>
        <li class="active">Requisición</a></li>
      </ol>
</div>
  <div class="grid_12">
      
      <div class="grid_5">
        <h3>Requisición</h3><br>
      </div>
      <div class="grid_3 push_4 text-right" id="agregar">
          <%= link_to 'Agregar Requisición'.html_safe, new_requisition_path %>  
        </div>
      <%= render 'requisitionTable' %>
      <%= link_to '<button type="button" class="btn btn-primary"> Agregar Requisición </button>'.html_safe, new_requisition_path %> 
      <br><br>
      <%= link_to '<button type="button" class="btn btn-primary"> Volver a solicitud de compra </button>'.html_safe, solicitud_url %>
  </div>

</body>
</html>

<style>
  
#agregar {
  font-size: 14px;
}

h3 {
  position: relative;
}

</style>


