<% if user_signed_in? %>


	<div class="grid_7">
	      <ol class="breadcrumb">
	         <li class="active"> Home </li>
	      </ol>
	</div>

	<div class="grid_7 push_3">
		 <%= link_to '<button type="button" class="btn btn-primary"> Compras </button>'.html_safe, compras_url %><br><br>
		 <%= link_to '<button type="button" class="btn btn-primary"> Inventario </button>'.html_safe, inventario_url %><br><br>
		 <%= link_to '<button type="button" class="btn btn-primary"> Administracion </button>'.html_safe, administration_url %><br><br>
	</div>
	
<% else %>
	<%= link_to "Registrarse", new_user_registration_path, :class => 'navbar-link'  %> |
	<%= link_to "Iniciar Sesion", new_user_session_path, :class => 'navbar-link'  %>
<% end %>
