<h1><i class="fa fa-database"></i> Inventario</h1>

<ol class="breadcrumb">
	<li> <%=link_to 'Inicio', controller: 'statics'%></li>
	<li class="active"> Inventario </li>
</ol>
<div id = "table2">
</div>

<br>

<div id= 'categorias'>
<br>
	<p align="center">
	<td><font size = "5"><i class="fa fa-plug"></i><%= link_to ' Equipos y Mobiliarios', equipment_index_url %></td><br><br>

	<td><i class="fa fa-eyedropper"></i><%= link_to ' Instrumentos de Medición', instruments_url %></td><br><br>

	<td><i class="fa fa-wrench"></i> <%= link_to ' Herramientas', tools_url %></td><br><br>


	<td><i class="fa fa-flask" ></i><%= link_to ' Sustancias Químicas', chemical_substances_url %></td><br><br>



	<td><i class="fa fa-fire"></i><%= link_to ' Consumibles y Materiales', consumables_url %></td><br></font><br></p>

