<h1>Sistema de Inventario</h1>

<div id= 'categorias'>
	<td><%= link_to 'Sustancias Quimicas', chemical_substances_url %></td><br>
	<td><%= link_to 'Equipos', equipment_index_url %></td><br>
	<td><%= link_to 'Herramientas', tools_url %></td><br>
	<td><%= link_to 'Instrumentos', instruments_url %></td><br>
	<td><%= link_to 'Consumibles', consumables_url %></td><br>
</div>
<!--<p>Find me in app/views/welcome/index.html.erb</p>-->
