<div class="row">
	<div class="col-xs-12">
		<ol class="breadcrumb">
			<li><%= link_to 'Inicio', controller: 'statics' %></li>
			<li><%= link_to 'Administraci贸n', administration_path %></li>
			<li><%= link_to 'Presupuesto', budget_path %></li>
			<li><%= link_to 'Compromisos', commitments_path %></li>
			<li><%= link_to @commitment.id, @commitment %></li>
			<li class="active">Editar Compromiso</li>
		</ol>
	</div>
	<% if @commitment.errors.any? %>
		<div class="col-xs-12" role="alert">
			<div class="alert alert-danger">
				<ul>
					<% @commitment.errors.full_messages.each do |msg| %>
						<li><%= msg %></li>
					<% end %>
				</ul>	
			</div>
		</div>
	<% end %>
	<div class="col-xs-12">
		<%= form_for @commitment, url: {action: 'update'}, id: @commitment.id, html: {class: 'form-horizontal'} do |i| %>	
			<div class="form-group">
				<label for='commitment_lab_id' class="col-xs-3 control-label text-right">Dependencia *</label>
				<div class="col-xs-3">
					<%= i.select(:lab_id, options_for_select(@labs.map { |l| [l.sae_name, l.id] }, @commitment.lab_id), {}, {class: "form-control"} ) %>
				</div>
			</div>	
		
			<div class="form-group">
				<label for='commitment_code' class="col-xs-3 control-label text-right">C贸digo *</label>
				<div class='col-xs-4'>
					<%= i.text_field :code, class: 'form-control' %>
				</div>
			</div>

			<div class="form-group">
				<label for='commitment_recipient' class="col-xs-3 control-label text-right">Beneficiario *</label>
				<div class='col-xs-4'>
					<%= i.text_field :recipient, class: 'form-control' %>
				</div>
			</div>

			<div class="form-group">
				<label for='commitment_description' class="col-xs-3 control-label text-right">Descripci贸n *</label>
				<div class='col-xs-4'>
					<%= i.text_field :description, class: 'form-control' %>
				</div>
			</div>
						
			<div class="form-group">
				<label for='commitment_amount' class="col-xs-3 control-label text-right">Monto *</label>
				<div class='col-xs-4'>
					<div class="input-group">
						<%= i.text_field :amount, class: 'form-control' %>
						<span class="input-group-addon">Bs.</span>
					</div>
				</div>
			</div>
			
			<div class="form-group">
				<label for='commitment_date' class="col-xs-3 control-label text-right">Fecha *</label>
				<div class='col-xs-4'>
					<%= i.date_field :date, class: 'form-control' %>
				</div>
			</div>

			<div class="form-group">
				<div class="col-xs-offset-3 col-xs-9">
					<button type="submit" class="btn btn-default btn-primary"><span class="glyphicon glyphicon-edit"></span>&nbsp;&nbsp;Guardar Cambios</button>
					<%= link_to @commitment, class: "btn btn-default btn-danger" do %>
						<span class="glyphicon glyphicon-remove"></span>&nbsp;&nbsp;Cancelar Operaci贸n
					<% end %>
				</div>
			</div>
		<% end %>
	</div>
	<div class="col-xs-12">
		<div class="well">
			* Los campos son obligatorios.
		</div>
	</div>
</div>
