<div class="row">
	<div class="col-xs-12">
		<ol class="breadcrumb">
			<li><%= link_to 'Inicio', controller: 'statics' %></li>
			<li><%= link_to 'Administracion', administration_path %></li>
			<li><%= link_to 'Compromisos', commitments_path %></li>
			<li class="active"><%= @commitment.id%></li>
		</ol>
	</div>
	<div class="col-xs-12">
		<table class="table table-striped">
			<tr>
				<th class="active text-center" colspan="2"><h2><%= @commitment.description %></h2></th>
			</tr>
			<tr>
				<td class="col-xs-5 text-right">ID:</td>
				<td class="col-xs-7"><%= @commitment.id %></td>
			</tr>
			<tr>
				<td class="col-xs-5 text-right">Laboratorio:</td>
				<td class="col-xs-7"><%= @commitment.lab.name %></td>
			</tr>
			<tr>
				<td class="col-xs-5 text-right">Codigo:</td>
				<td class="col-xs-7"><%= @commitment.code %></td>
			</tr>
			<tr>
				<td class="col-xs-5 text-right">Beneficiario:</td>
				<td class="col-xs-7"><%= @commitment.recipient %></td>
			</tr>
			<tr class="success">
				<td class="col-xs-5 text-right">Monto:</td>
				<td class="col-xs-7"><%= number_to_currency(@commitment.amount, :unit => "Bs.F. ") %></td>
			</tr>
		</table>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<%= link_to edit_commitment_path do %>
			<button type="button" class="btn btn-warning"><span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;Editar Entrada</button>
		<% end %>
	</div>
</div>
