<div class="row">
	<div class="col-xs-12">
		<ol class="breadcrumb">
			<li><%= link_to 'Inicio', controller: 'statics' %></li>
			<li><%= link_to 'Administración', administration_path %></li>
			<li><%= link_to 'Presupuesto', budget_path %></li>
			<li><%= link_to 'Compromisos', commitments_path %></li>
			<li class="active"><%= @commitment.id%></li>
		</ol>
	</div>
	<div class="col-xs-12">
		<table class="table table-striped">
			<tr>
				<th class="active text-center" colspan="2"><h2><%= @commitment.description %></h2></th>
			</tr>
			<tr>
				<td class="col-xs-5 text-right">Dependencia:</td>
				<td class="col-xs-7"><%= @commitment.lab.sae_name %></td>
			</tr>
			<tr>
				<td class="col-xs-5 text-right">Fecha:</td>
				<td class="col-xs-7"><%= @commitment.date.strftime('%d/%m/%Y') %></td>
			</tr>
			<tr>
				<td class="col-xs-5 text-right">Código:</td>
				<td class="col-xs-7"><%= @commitment.code %></td>
			</tr>
			<tr>
				<td class="col-xs-5 text-right">Beneficiario:</td>
				<td class="col-xs-7"><%= @commitment.recipient %></td>
			</tr>
			<tr class="success">
				<td class="col-xs-5 text-right">Monto (Bs.):</td>
				<td class="col-xs-7"><%= number_to_currency(@commitment.amount, format: "%n", delimiter: ".", separator: ",") %></td>
			</tr>
		</table>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<%= link_to edit_commitment_path do %>
			<button type="button" class="btn btn-warning"><span class="glyphicon glyphicon-pencil"></span>&nbsp;&nbsp;Editar Compromiso</button>
		<% end %>
		<%= link_to action: 'destroy' do %>
			<button type="button" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span>&nbsp;&nbsp;Eliminar Compromiso</button>
		<% end %>
	</div>
</div>
