<%= form_for(@loan) do |f| %>
      <% if @loan.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@loan.errors.count, "error(es") %>) prohíben que esta solicitud de préstamo sea guardada:</h2>

          <ul>
          <% @loan.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

<div class ="Informacion">


<td class="col-xs-7">

    <div class="col-xs-12">
        <table class="table table-striped">
          <tr>
            <td class="col-xs-5 text-right"><strong>Fecha requerida:</strong></td>
            <td class="col-xs-7"><%= f.text_field :fechaEntrega, :class => "datepicker" %><span class="red">*</span></td>
          </tr>
          <tr>
            <td class="col-xs-5 text-right"><strong>Ubicación Destino:</strong></td>
            <td class="col-xs-7"><%= f.text_field :ubicacion %><span class="red">*</span></td>
          </tr>
          <tr>
            <td class="col-xs-5 text-right"><strong>Fecha tope de entrega:</strong></td>
            <td class="col-xs-7"><%= f.text_field :fechaTope, :class => "datepicker" %><span class="red">*</span></td>
          </tr>
          <tr>
            <td class="col-xs-5 text-right"><strong>Condiciones del préstamo:</strong></td>
            <td class="col-xs-7"><%= f.text_field :condiciones %><span class="red">*</span></td>
          </tr>     
            <tr>
            <td class="col-xs-5 text-right"><strong>Cantidad:</strong></td>
            <td class="col-xs-7"><%= f.number_field(:medida, min: 0, :step => 'any') %>
            <%= f.select(:unidadMedida, [['Un'], ['kg'], ['g'], ['mg'], ['l'], ['ml'] ] ) %></td>
          </tr>
        <tr>

        <td class="col-xs-5 text-right">
           <div class="actions">
            <%= f.submit %><td>
           </div>
      </tr>
          

          
        </table>

      </div>



        <br>
        
        <br><br>
    </div>
<% end %>