<%= form_for(@loan) do |f| %>
  <% if @loan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@loan.errors.count, "error(es") %> prohiben que esta solicitud sea guardada:</h2>

      <ul>
      <% @loan.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table class="table table-striped">
      <tr>
        <td class="col-xs-5 text-right"><strong>Fecha Tope de Entrega:</strong></td>
        <td class="col-xs-7"> <%= f.text_field :fechaEntrega, :class => "datepicker" %><span class="red">*</span></td>
      </tr>
      <tr>
        <td class="col-xs-5 text-right"><strong>Cantidad:</strong></td>
        <td class="col-xs-7"><%= f.number_field(:cantidad, min: 0, :step => 'any') %><span class="red">*</span></td>
      </tr>
      <tr>
        <td class="col-xs-5 text-right"><strong>Ubicación:</strong></td>
        <td class="col-xs-7"> <%= f.text_field :ubicacion %>
        <span class="red">*</span></td>
      </tr>
      <tr>
        <td class="col-xs-5 text-right"><strong>Correo Electrónico:</strong></td>
        <td class="col-xs-7"> <%= f.text_field :correo %>
        <span class="red">*</span></td>
      </tr>
      <tr>
        <td class="col-xs-5 text-right"><strong>Observaciones:</strong></td>
        <td class="col-xs-7"> <%= f.text_field :observaciones %></td>
      </tr>
                     <tr>
            <td class="col-xs-5 text-right">
               <div class="actions">
                <%= f.submit %><td>
               </div>
          </tr>

        </table>
    <br>
<% end %>
