<h1>Listing loans</h1>

<table>
  <thead>
    <tr>
      <th>Fechaentrega</th>
      <th>Cantidad</th>
      <th>Ubicacion</th>
      <th>Observaciones</th>
      <th>Correo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @loans.each do |loan| %>
      <tr>
        <td><%= loan.fechaEntrega %></td>
        <td><%= loan.cantidad %></td>
        <td><%= loan.ubicacion %></td>
        <td><%= loan.observaciones %></td>
        <td><%= loan.correo %></td>
        <td><%= link_to 'Show', loan %></td>
        <td><%= link_to 'Edit', edit_loan_path(loan) %></td>
        <td><%= link_to 'Destroy', loan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Loan', new_loan_path %>
