<h1>Nueva Solicitud de Préstamo</h1>
<ol class="breadcrumb">
	<li> <%=link_to 'Inicio', controller: 'statics'%></li>
	<li> <%=link_to 'Inventario', inventario_url %></li>
	<li class="active"> Nuevo Préstamo </li>
</ol>

<div id = "table2">
</div>
<br>
<div class="col-xs-12">
<div class="col-xs-6">
	<%= render 'form' %>
</div>
<div class="col-xs-6">
<thead>
    <table id="itemTable" class="table table-hover">
      <tr>
        <th></th>
        <th class="tg-093g">Nombre</th>
        <th class="tg-hgcj">Número de Bien Nacional</th>
      </tr>
    </thead>

    <tbody>
      <% @equipment.each do |equipment| %>
        <tr>
          <td class="tg-s6z2"><%=  equipment.name  %></td>
              <td class="tg-s6z2"><%= equipment.national_good %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </thead>
</div>
</div>
  <br>
<div class="col-xs-12">
<i class="fa fa-arrow-left"></i><%= link_to ' Atrás', inventario_url %>
</div>
<br><br><br><br>


