<p id="notice"><%= notice %></p>
<ol class="breadcrumb">
  <li> <%=link_to 'Inicio', controller: 'statics'%></li>
  <li> <%=link_to 'Inventario', inventario_url %></li>
  <li class="active"> Ver Solicitud</li>
</ol>


 <table class="table table-striped">
      <tr>
        <td class="col-xs-5 text-right"><strong>Fecha Tope de Entrega:</strong></td>
        <td class="col-xs-7"><%= @loan.fechaEntrega %></td>
      </tr>
      <tr>
        <td class="col-xs-5 text-right"><strong>Cantidad:</strong></td>
        <td class="col-xs-7"><%= @loan.cantidad %></td>
      </tr>
      <tr>
        <td class="col-xs-5 text-right"><strong>Ubicación:</strong></td>
        <td class="col-xs-7"><%= @loan.ubicacion %></td>
      </tr>
      <tr>
        <td class="col-xs-5 text-right"><strong>Correo Electrónico:</strong></td>
        <td class="col-xs-7"><%= @loan.correo %></td>
      </tr>
      <tr>
        <td class="col-xs-5 text-right"><strong>Observaciones:</strong></td>
        <td class="col-xs-7"><%=  @loan.observaciones %></td>
      </tr>
          
  </table> 


<br><br>
<% if can? :update, @loan %>
  <i class="fa fa-cog"></i><%= link_to ' Editar', edit_loan_path(@loan) , 'data-no-turbolink' => true%> |
<% end %>
<% if can? :hide, @loan %>
      <i class="fa fa-times fa-1x"></i><%= link_to ' Ocultar', @loan, method: :delete, data: { confirm: '¿Estás seguro?' } %> |
<%end%>
<i class="fa fa-arrow-left"></i><%= link_to ' Atrás', inventario_url %>
<br><br><br><br>