<p id="notice"><%= notice %></p>
<ol class="breadcrumb">
  <li> <%=link_to 'Inicio', controller: 'statics'%></li>
  <li> <%=link_to 'Inventario', inventario_url %></li>
  <li class="active"> Ver </li>
</ol>





    <div class="col-xs-12">
        <table class="table table-striped">
          <tr>
            <td class="col-xs-5 text-right"><strong>Fecha requerida:</strong></td>
            <td class="col-xs-7"><%= @loan.fechaEntrega %></td>
          </tr>
          <tr>
            <td class="col-xs-5 text-right"><strong>Ubicación Destino:</strong></td>
            <td class="col-xs-7"><%=@loan.ubicacion %></td>
          </tr>
          <tr>
            <td class="col-xs-5 text-right"><strong>Fecha tope de entrega:</strong></td>
            <td class="col-xs-7"><%= @loan.fechaTope %></td>
          </tr>
          <tr>
            <td class="col-xs-5 text-right"><strong>Condiciones de Préstamo:</strong></td>
            <td class="col-xs-7"><%= @loan.condiciones %></td>
          </tr>
          <tr>
            <td class="col-xs-5 text-right"><strong>Cantidad:</strong></td>
            <td class="col-xs-7"> <%= @loan.medida %><% @loan.unidadMedida %></td>
          </tr>
          
         </div></td>
        </table>

      </div>




<div class="col-xs-12">
  <i class="fa fa-cog"></i><%= link_to ' Editar', edit_loan_path(@loan), 'data-no-turbolink' => true %> |
  <i class="fa fa-times fa-1x"></i><%= link_to ' Ocultar', @loan, method: :delete, data: { confirm: '¿Estás seguro?' } %> |
  <i class="fa fa-download"></i><%= link_to ' Descargar Solicitud '.html_safe, loan_path(@loan, :format => 'pdf') %> | 
<i class="fa fa-arrow-left"></i><%= link_to ' Atrás', inventario_url %>
<br><br><br><br>
</div>

