<p id="notice"><%= notice %></p>

<p>
  <strong>Fechaentrega:</strong>
  <%= @loan.fechaEntrega %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @loan.cantidad %>
</p>

<p>
  <strong>Ubicacion:</strong>
  <%= @loan.ubicacion %>
</p>

<p>
  <strong>Observaciones:</strong>
  <%= @loan.observaciones %>
</p>

<p>
  <strong>Correo:</strong>
  <%= @loan.correo %>
</p>

<%= link_to 'Edit', edit_loan_path(@loan) %> |
<%= link_to 'Back', loans_path %>
