<div class="grid_7">
      <ol class="breadcrumb">
          <li> <%=link_to 'Home', controller: 'statics'%></li>
			 <li> <%=link_to 'Compras', compras_url %></li>
          <li> <%=link_to 'Solicitud', solicitud_url %></li>
         <li> <%=link_to 'Especificaciones Técnicas', especificacionesTecnicas_url %></li>
        <li class="active">Item </a></li>
      </ol>
</div>



<div class="grid_7 push_2">

	<h3>Modificar ítem</h3>
   <br>

</div>


<div class="grid_7">
	<%= render 'form' %>
</div>

<style>

h3 {

position:relative;
left: 30px;

}

</style>

