
<!DOCTYPE html>
<html>
<head>
</head>
<body>

<div class="grid_12">
      <ol class="breadcrumb">
          <li> <%=link_to 'Home', controller: 'statics'%></li>
			 <li> <%=link_to 'Compras', compras_url %></li>
          <li> <%=link_to 'Solicitud', solicitud_url %></li>
         <li> <%=link_to 'Especificaciones Técnicas', especificacionesTecnicas_url %></li>
        <li class="active">Item </a></li>
      </ol>
</div>


	<div class="grid_12">
		<h3>Bienes / Consumibles Solicitados</h3>
		<%= render 'itemtable' %>
		<%= link_to '<button type="button" class="btn btn-primary"> Agregar otro ítem </button>'.html_safe, new_item_path %> <br><br>
      	<%= link_to '<button type="button" class="btn btn-primary"> Descargar solicitud </button>'.html_safe, items_path(@item, :format => 'pdf') %><br><br>
		<%= link_to '<button type="button" class="btn btn-primary"> Volver a especificaciones técnicas </button>'.html_safe, especificacionesTecnicas_url %>
	</div>

</body>
</html>








