<%= form_for(@instrument) do |f| %>
  <% if @instrument.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@instrument.errors.count, "error(es") %>) prohíben que este instrumento sea guardado:</h2>

      <ul>
      <% @instrument.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class ="Informacion">
  <div class="col-xs-12">
        <table class="table table-striped">
          <tr>
            <td class="col-xs-5 text-right"><strong>Nombre:</strong></td>
            <td class="col-xs-7"> <%= f.text_field :name %>
            <span class="red">*</span></td>
          </tr> 

          <tr>
            <td class="col-xs-5 text-right"><strong>Marca:</strong></td>
            <td class="col-xs-7"><%= f.text_field :brand %></td>
          </tr> 

          <tr>
            <td class="col-xs-5 text-right"><strong>Modelo:</strong></td>
            <td class="col-xs-7"><%= f.text_field :brand %></td>
          </tr> 

          <tr>
            <td class="col-xs-5 text-right"><strong>Unidad de medida::</strong></td>
            <td class="col-xs-7"><%= f.text_field :measurement_unit %></td>
          </tr> 

          <tr>
            <td class="col-xs-5 text-right"><strong>Capacidad:</strong></td>
            <td class="col-xs-7"><%= f.number_field(:capacity, min: 0, :step => 'any') %></td>
          </tr> 

          <tr>
            <td class="col-xs-5 text-right"><strong>Material:</strong></td>
            <td class="col-xs-7"><%= f.text_field :material %></td>
          </tr> 

          <tr>
            <td class="col-xs-5 text-right"><strong>Estado:</strong></td>
            %= f.select(:status, [['EN BUEN ESTADO'], ['DAÑADO'], ['EN REPARACIÓN']] ) %></td>
          </tr> 

          <tr>
            <td class="col-xs-5 text-right"><strong>Ubicación:</strong></td>
            <td class="col-xs-7"><%= f.text_field :location %>
            <span class="red">*</span></td>
          </tr>

          <tr>
            <td class="col-xs-5 text-right"><strong>Última Calibración:</strong></td>
            <td class="col-xs-7"> <%= f.text_field :last_calibration, :class => "datepicker" %></td> </td>
          </tr>

          <tr>
            <td class="col-xs-5 text-right"><strong>Responsable:</strong></td>
            <td class="col-xs-7"><%= f.text_field :responsible %>
            <span class="red">*</span></td>
          </tr>

           <tr>
            <td class="col-xs-5 text-right"><strong>Número bien nacional:</strong></td>
            <td class="col-xs-7"><%= f.number_field :national_good %></td>
          </tr>

    
    
          <tr>
            <td class="col-xs-5 text-right"><strong><%= 'Uso:'%></strong></td>
           <td class="col-xs-7"><%= f.check_box :investigation %>
            <%= 'Investigación' %><br>
            <%= f.check_box :teaching %>
            <%= 'Docencia' %><br>
            <%= f.check_box :extention %>
            <%= 'Extensión' %><br>
            <%= f.check_box :management %>
            <%= 'Gestión' %></td></tr>
          
        
        </div>
      </table>

      </div>


    <div class="actions">
    <%= f.submit %>
    </div>

    <br>
  </div>
<% end %>
