<%= form_for(@instrument) do |f| %>
  <% if @instrument.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@instrument.errors.count, "error(es") %>) prohíben que este instrumento sea guardado:</h2>

      <ul>
      <% @instrument.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class ="Informacion">
    <div class="field">
      <%= 'Nombre:' %><br>
      <%= f.text_field :name %>
      <span class="red">*</span>
    </div>
    <div class="field">
      <%= 'Marca:' %><br>
      <%= f.text_field :brand %>
    </div>
    <div class="field">
      <%= 'Modelo:' %><br>
      <%= f.text_field :model %>
    </div>
    <div class="field">
      <%= 'Unidad de medida:' %><br>
      <%= f.text_field :measurement_unit %>
    </div>
    <div class="field">
      <%= 'Capacidad:' %><br>
      <%= f.number_field(:capacity, min: 0, :step => 'any') %>
    </div>
    <div class="field">
      <%= 'Material:' %><br>
      <%= f.text_field :material %>
    </div>
    <div class="field">
      <%= 'Estatus:' %><br>
      <%= f.text_field :status %>
    </div>
    <div class="field">
      <%= 'Ubicación:' %><br>
      <%= f.text_field :location %>
      <span class="red">*</span>
    </div>
    <div class="field">
      <%= 'Última Calibración:' %><br>
      <%= f.date_select :last_calibration %>
    </div>
    <div class="field">
      <%= 'Responsable:' %><br>
      <%= f.text_field :responsible %>
      <span class="red">*</span>
    </div>
    <div class="field">
      <%= 'Número bien nacional:' %><br>
      <%= f.number_field :national_good %>
    </div>
    <div class="field">

       <%= 'Uso:'%><br>
     <%= f.check_box :investigation %>
      <%= 'Investigación' %><br>
      <%= f.check_box :teaching %>
      <%= 'Docencia' %><br>
      <%= f.check_box :extention %>
      <%= 'Extensión' %><br>
      <%= f.check_box :management %>
      <%= 'Gestión' %><br>
    </div>
    <br>
      <div class="actions">
      <%= f.submit %>
    </div>
    <br><br>
  </div>
<% end %>
