<h1>Editar Instrumento</h1>
<ol class="breadcrumb">
	<li> <%=link_to 'Home', controller: 'statics'%></li>
	<li> <%=link_to 'Inventario', inventario_url %></li>
	<li> <%=link_to 'Instrumentos', instruments_path %></li>
	<li class="active"> Editar </li>
</ol>
<div id = "table2">
</div>
<div id="invetario"> Inventario </div>
<br>

<%= render 'form' %>
<br>
<i class="fa fa-plus-circle"></i><%= link_to ' Mostrar', @instrument %> |
<i class="fa fa-arrow-left"></i><%= link_to ' Atrás', instruments_path %>
<br><br><br><br>