<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @instrument.name %>
</p>

<p>
  <strong>Marca:</strong>
  <%= @instrument.brand %>
</p>

<p>
  <strong>Modelo:</strong>
  <%= @instrument.model %>
</p>

<p>
  <strong>Unidad de medida:</strong>
  <%= @instrument.measurement_unit %>
</p>

<p>
  <strong>Capacidad:</strong>
  <%= @instrument.capacity %>
</p>

<p>
  <strong>Material:</strong>
  <%= @instrument.material %>
</p>


<p>
  <strong>Estatus:</strong>
  <%= @instrument.status %>
</p>

<p>
  <strong>Ubicación:</strong>
  <%= @instrument.location %>
</p>

<p>
  <strong>Ultima Calibración:</strong>
  <%= @instrument.last_calibration %>
</p>

<p>
  <strong>Responsable:</strong>
  <%= @instrument.responsible %>
</p>

<p>
  <strong>Numero de Bien Nacional:</strong>
  <%= @instrument.national_good %>
</p>
<p>
  <strong>Uso:</strong>

  <% if @instrument.investigation %>
    <%= 'Inves' %>
  <% end %>
  <% if @instrument.teaching %>
    <%= ' Doc' %>
  <% end %>
  <% if @instrument.extention %>
    <%= ' Exten' %>
  <% end %>
  <% if @instrument.management %>
    <%= ' Gest' %>
  <% end %>
</p>
<br>
<% if can? :update, @instrument %>
  <i class="fa fa-cog"></i><%= link_to ' Editar', edit_instrument_path(@instrument) %> |
<% end %>
<i class="fa fa-arrow-left"></i><%= link_to ' Atrás', instruments_path %>
