<p id="notice"><%= notice %></p>
<ol class="breadcrumb">
	<li> <%=link_to 'Inicio', controller: 'statics'%></li>
	<li> <%=link_to 'Inventario', inventario_url %></li>
	<li> <%=link_to 'Instrumentos', instruments_path %></li>
	<li class="active"> Ver </li>
</ol>


<div class ="Informacion">
  <div class="col-xs-12">
        <table class="table table-striped">
          <tr>
            <td class="col-xs-5 text-right"><strong>Nombre:</strong></td>
            <td class="col-xs-7"> <%= @instrument.name %>
            </td>
          </tr> 

          <tr>
            <td class="col-xs-5 text-right"><strong>Marca:</strong></td>
            <td class="col-xs-7"><%= @instrument.brand %></td>
          </tr> 

          <tr>
            <td class="col-xs-5 text-right"><strong>Modelo:</strong></td>
            <td class="col-xs-7"> <%= @instrument.model %></td>
          </tr> 

          <tr>
            <td class="col-xs-5 text-right"><strong>Unidad de medida::</strong></td>
            <td class="col-xs-7"><%= @instrument.measurement_unit %></td>
          </tr> 

          <tr>
            <td class="col-xs-5 text-right"><strong>Capacidad:</strong></td>
            <td class="col-xs-7"> <%= @instrument.capacity %></td>
          </tr> 

          <tr>
            <td class="col-xs-5 text-right"><strong>Material:</strong></td>
            <td class="col-xs-7"><%= @instrument.material %></td>
          </tr> 

          <tr>
            <td class="col-xs-5 text-right"><strong>Estado:</strong></td>
            <td class="col-xs-7"><%= @instrument.status %></td>
          </tr> 

          <tr>
            <td class="col-xs-5 text-right"><strong>Ubicación:</strong></td>
            <td class="col-xs-7"><%= @instrument.location %>
            </td>
          </tr>

          <tr>
            <td class="col-xs-5 text-right"><strong>Última Calibración:</strong></td>
            <td class="col-xs-7"> <%= @instrument.last_calibration %></td> </td>
          </tr>

          <tr>
            <td class="col-xs-5 text-right"><strong>Responsable:</strong></td>
            <td class="col-xs-7"> <%= @instrument.responsible %>
            </td>
          </tr>

           <tr>
            <td class="col-xs-5 text-right"><strong>Número bien nacional:</strong></td>
            <td class="col-xs-7"> <%= @instrument.national_good %></td>
          </tr>

      
    
          <tr>
            <td class="col-xs-5 text-right"><strong><%= 'Uso:'%></strong></td>
           <td class="col-xs-7"> <% if @instrument.investigation %>
              <%= ' Investigación ' %>
            <% end %>
            <% if @instrument.teaching %>
              <%= ' Docencia ' %>
            <% end %>
            <% if @instrument.extention %>
              <%= ' Extensión ' %>
            <% end %>
            <% if @instrument.management %>
              <%= ' Gestión ' %>
            <% end %></td></tr>
          
        
        </div>
      </table>



<br><br>
<% if can? :update, @instrument %>
  <i class="fa fa-cog"></i><%= link_to ' Editar', edit_instrument_path(@instrument) %> |
<% end %>
<i class="fa fa-arrow-left"></i><%= link_to ' Atrás', instruments_path %>
<br><br><br><br>
