<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @instrument.name %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @instrument.brand %>
</p>

<p>
  <strong>Model:</strong>
  <%= @instrument.model %>
</p>

<p>
  <strong>Measurement unit:</strong>
  <%= @instrument.measurement_unit %>
</p>

<p>
  <strong>Capacity:</strong>
  <%= @instrument.capacity %>
</p>

<p>
  <strong>Material:</strong>
  <%= @instrument.material %>
</p>

<p>
  <strong>Use:</strong>
  <%= @instrument.use %>
</p>

<p>
  <strong>Status:</strong>
  <%= @instrument.status %>
</p>

<p>
  <strong>Location:</strong>
  <%= @instrument.location %>
</p>

<p>
  <strong>Last calibration:</strong>
  <%= @instrument.last_calibration %>
</p>

<p>
  <strong>Responsible:</strong>
  <%= @instrument.responsible %>
</p>

<p>
  <strong>National good:</strong>
  <%= @instrument.national_good %>
</p>

<p>
  <strong>Investigation:</strong>
  <%= @instrument.investigation %>
</p>

<p>
  <strong>Teaching:</strong>
  <%= @instrument.teaching %>
</p>

<p>
  <strong>Extention:</strong>
  <%= @instrument.extention %>
</p>

<p>
  <strong>Management:</strong>
  <%= @instrument.management %>
</p>

<%= link_to 'Edit', edit_instrument_path(@instrument) %> |
<%= link_to 'Back', instruments_path %>
