<p id="notice"><%= notice %></p>
<ol class="breadcrumb">
	<li> <%=link_to 'Inicio', controller: 'statics'%></li>
	<li> <%=link_to 'Inventario', inventario_url %></li>
	<li> <%=link_to 'Instrumentos', instruments_path %></li>
	<li class="active"> Ver </li>
</ol>
<p>
  <strong>Nombre:</strong>
  <%= @instrument.name %>
</p>

<p>
  <strong>Marca:</strong>
  <%= @instrument.brand %>
</p>

<p>
  <strong>Modelo:</strong>
  <%= @instrument.model %>
</p>

<p>
  <strong>Unidad de medida:</strong>
  <%= @instrument.measurement_unit %>
</p>

<p>
  <strong>Capacidad:</strong>
  <%= @instrument.capacity %>
</p>

<p>
  <strong>Material:</strong>
  <%= @instrument.material %>
</p>


<p>
  <strong>Estatus:</strong>
  <%= @instrument.status %>
</p>

<p>
  <strong>Ubicación:</strong>
  <%= @instrument.location %>
</p>

<p>
  <strong>Última Calibración:</strong>
  <%= @instrument.last_calibration %>
</p>

<p>
  <strong>Responsable:</strong>
  <%= @instrument.responsible %>
</p>

<p>
  <strong>Número de Bien Nacional:</strong>
  <%= @instrument.national_good %>
</p>
<p>
  <strong>Uso:</strong>

  <% if @instrument.investigation %>
    <%= ' Investigación ' %>
  <% end %>
  <% if @instrument.teaching %>
    <%= ' Docencia ' %>
  <% end %>
  <% if @instrument.extention %>
    <%= ' Extensión ' %>
  <% end %>
  <% if @instrument.management %>
    <%= ' Gestión ' %>
  <% end %>
</p>
<br><br>
<% if can? :update, @instrument %>
  <i class="fa fa-cog"></i><%= link_to ' Editar', edit_instrument_path(@instrument) %> |
<% end %>
<i class="fa fa-arrow-left"></i><%= link_to ' Atrás', instruments_path %>
<br><br><br><br>
