<%= form_for(@consumable) do |f| %>
  <% if @consumable.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@consumable.errors.count, "error") %> prohibited this consumable from being saved:</h2>

      <ul>
      <% @consumable.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :descripci贸n %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :dimensiones %><br>
    <%= f.text_field :dimentions %>
  </div>
  <div class="field">
    <%= f.label :material %><br>
    <%= f.text_field :material %>
  </div>
  <div class="field">
    <%= f.label :cantidad %><br>
    <%= f.text_field :quantity %>
  </div>
  <div class="field">
    <%= f.label :ubicacion %><br>
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :responsable %><br>
    <%= f.text_field :responsible %>
  </div>
  <div class="field">
  <br>
    <%=  'Uso' %><br>
   <%= f.check_box :investigation %>
    <%= f.label :Investigaci贸n %><br>
    <%= f.check_box :teaching %>
    <%= f.label :Docencia %><br>
    <%= f.check_box :extention %>
    <%= f.label :Extensi贸n %><br>
    <%= f.check_box :management %>
    <%= f.label :Gesti贸n %><br>
   </div>
<br> 


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
