<%= form_for(@consumable) do |f| %>
  <% if @consumable.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@consumable.errors.count, "error(es") %>) prohíben que este consumible sea guardado:</h2>

      <ul>
      <% @consumable.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class ="Informacion">
    
    <table class="table table-striped">
          <tr>
            <td class="col-xs-5 text-right"><strong>Nombre:</strong></td>
            <td class="col-xs-7"><%= f.text_field :name %><span class="red">*</span</td>
          </tr>
          <tr>
            <td class="col-xs-5 text-right"><strong>Descripción:</strong></td>
            <td class="col-xs-7"><%= f.text_area :description %></td>
          </tr>
          <tr>
            <td class="col-xs-5 text-right"><strong>Material:</strong></td>
            <td class="col-xs-7"><%= f.text_field :material %></td>
          </tr>
           <tr>
            <td class="col-xs-5 text-right"><strong>Responsable:</strong></td>
            <td class="col-xs-7"><%= f.text_field :responsible %><span class="red">*</span</td>
          </tr>
          <tr>
            <td class="col-xs-5 text-right"><strong>Ubicación:</strong></td>
            <td class="col-xs-7"><%=  f.text_field :location %><span class="red">*</span</td>
          </tr>
          <tr>
            <td class="col-xs-5 text-right"><strong>Cantidad:</strong></td>
            <td class="col-xs-7"><%= f.text_field :quantity %></td>
          </tr>
           
         <tr>
            <td class="col-xs-5 text-right"><strong>Uso:</strong></td>
              <td class="col-xs-7">   
              <%= f.check_box :investigation %>
              <%= 'Investigación' %>
              <%= f.check_box :teaching %>
              <%= 'Docencia' %>
              <%= f.check_box :extention %>
              <%= 'Extensión' %>
              <%= f.check_box :management %>
              <%= 'Gestión' %></div></td>
         </tr>
         <tr>
            <td class="col-xs-5 text-right"><strong>Factura:</strong></td>
            <td class="col-xs-7"><%=  f.text_field :bill %></td>
          </tr>
          <tr>
            <td class="col-xs-5 text-right"><strong>Costo:</strong></td>
            <td class="col-xs-7"><%= f.number_field(:cost, min: 0, :step => 'any') %>
          </tr>
          <tr>
            <td class="col-xs-5 text-right"><strong>Orden de Compra:</strong></td>
            <td class="col-xs-7"><%=  f.text_field :buy_order %></td>
          </tr>
          <tr>
            <td class="col-xs-5 text-right"><strong>Fecha Adquisición:</strong></td>
            <td class="col-xs-7"><%= f.text_field :adquisition_date, :class => "datepicker" %></td> 
          </tr>
         
        <tr>
        <td class="col-xs-5 text-right">
           <div class="actions">
            <%= f.submit %><td>
           </div>
      </tr>
          

          
        </table>
    <br><br>
  </div>
<% end %>
