<div id="LeDivConsumibles">
  <h1><i class="fa fa-fire"></i> Consumibles</h1>

	<ol class="breadcrumb">
		<li> <%=link_to 'Home', controller: 'statics'%></li>
		<li> <%=link_to 'Inventario', inventario_url %></li>
		<li class="active"> Consumibles </li>
	</ol>
  <div id = "table2">
  </div>
  <div id="invetario"> Inventario </div>
  <br>


      <style type="text/css">
      .tg  {border-collapse:collapse;border-spacing:0;border-color:#999;}
      .tg td{font-family:Arial, sans-serif;font-size:15px;padding:5px 10px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#999;color:#444;background-color:#F7FDFA;}
      .tg th{font-family:Arial, sans-serif;font-size:16px;font-weight:normal;padding:5px 30px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#999;color:#fff;background-color:#D3BD13;}
      .tg .tg-qpa3{font-family:Arial, Helvetica, sans-serif !important;;text-align:center}
      .tg .tg-s6z2{text-align:center;}
      .tg .tg-093g{font-weight:bold;text-align:center;}
      .tg .tg-hgcj{font-weight:bold;text-align:center; padding:5px;}
      .tg .tg-092g{color:#FFFFFF;background-color:#FFFFFF;font-weight:bold;text-align:left;font-size:14px;font-style: oblique; border-width:0px; padding: 10px;line-height:1.4em;}

      </style>  

	<div id="search">
		<%= form_tag(consumables_path, :method => "get", id: "search-form") do %>
			<%= text_field_tag :search, params[:search], placeholder: "Consumible a buscar" %>
			<%= submit_tag "Buscar", :name => nil %>
		<% end %>
	</div>

   <table class="tg">
    <thead>
      <tr>
        <th class="tg-093g">Nombre</th>
       <th class="tg-hgcj">Descripción</th>
     <!--     
        <th>Material</th> -->
       <!-- <th class="tg-hgcj">Cantidad</th> -->
        <th class="tg-hgcj">Ubicación</th>
      <!--   <th>Use</th> -->
        <th class="tg-hgcj">Responsable</th>
  <!--       <th>Investigation</th>
        <th>Teaching</th>
        <th>Extention</th>
        <th>Management</th> -->

      </tr>
    </thead>

    <tbody>
      <% @consumables.each do |consumable| %>
        <tr>
          <td class="tg-s6z2"><%= consumable.name %></td>
           <td class="tg-s6z2"><%= consumable.description %></td>
    <!--     
          <td><%= consumable.material %></td> -->
         <!--  <td class="tg-s6z2"><%= consumable.quantity %></td> -->
          <td class="tg-qpa3"><%= consumable.location %></td>
  <!--          -->
         <td class="tg-s6z2"><%= consumable.responsible %></td>
  <!--         <td><%= consumable.investigation %></td>
          <td><%= consumable.teaching %></td>
          <td><%= consumable.extention %></td>
          <td><%= consumable.management %></td> -->


        <td class="tg-092g"><i class="fa fa-search fa-1x" style="color:black"></i><%= link_to ' Ver', consumable %></br>
        <% if can? :update, @consumable %>
          <i class="fa fa-cog fa-1x" style="color:blue"></i><%= link_to ' Editar',  edit_consumable_path(consumable) %><br>
        <%end%>
        <% if can? :destroy, @consumable %>
         <i class="fa fa-times fa-1x" style="color:red"></i><%= link_to ' Ocultar', consumable, method: :delete, data: { confirm: '¿Estás seguro?' } %></td>
        <%end%>



        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
  <% if can? :create, @consumable %>
    <i class="fa fa-plus-circle"></i><%= link_to ' Nuevo Consumible', new_consumable_path %> | 
  <%end%>
  <i class="fa fa-arrow-left"></i><%= link_to ' Atrás ', inventario_url %>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  <br><br><br><br>
</div>