<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @consumable.name %>
</p>

<p>
  <strong>Descripción:</strong>
  <%= @consumable.description %>
</p>

<p>
  <strong>Material:</strong>
  <%= @consumable.material %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @consumable.quantity %>
</p>

<p>
  <strong>Ubicación:</strong>
  <%= @consumable.location %>
</p>

<p>
  <strong>Uso:</strong>

  <% if @consumable.investigation %>
    <%= ' Investigación ' %>
  <% end %>
  <% if @consumable.teaching %>
    <%= ' Docencia ' %>
  <% end %>
  <% if @consumable.extention %>
    <%= ' Extensión ' %>
  <% end %>
  <% if @consumable.management %>
    <%= ' Gestión ' %>
  <% end %>
</p>

<p>
  <strong>Responsable:</strong>
  <%= @consumable.responsible %>
</p>

<br><br>
<% if can? :update, @consumable %>
  <i class="fa fa-cog"></i><%= link_to ' Editar', edit_consumable_path(@consumable) %> |
<% end %>
<i class="fa fa-arrow-left"></i><%= link_to ' Atrás', consumables_path %>
<br><br><br><br>