<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @consumable.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @consumable.description %>
</p>

<p>
  <strong>Dimentions:</strong>
  <%= @consumable.dimentions %>
</p>

<p>
  <strong>Material:</strong>
  <%= @consumable.material %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @consumable.quantity %>
</p>

<p>
  <strong>Location:</strong>
  <%= @consumable.location %>
</p>

<p>
  <strong>Use:</strong>
  <%= @consumable.use %>
</p>

<p>
  <strong>Responsible:</strong>
  <%= @consumable.responsible %>
</p>

<p>
  <strong>Investigation:</strong>
  <%= @consumable.investigation %>
</p>

<p>
  <strong>Teaching:</strong>
  <%= @consumable.teaching %>
</p>

<p>
  <strong>Extention:</strong>
  <%= @consumable.extention %>
</p>

<p>
  <strong>Management:</strong>
  <%= @consumable.management %>
</p>

<%= link_to 'Edit', edit_consumable_path(@consumable) %> |
<%= link_to 'Back', consumables_path %>
