<!DOCTYPE html>
<html>
<head>
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  
</head>
   <body>
      <div class="container_12">
           <div class="grid_12">  
           	<%= image_tag "logo_drupal.jpg", :style => " display: block; margin-left:auto; margin-right: auto;" %> 
			<%= render 'shared/navbar' , :style => " display: block; margin-left:auto; margin-right: auto;" %>
           </div>
     		 

			  <div class="grid_12">
           		<div id="compras" class="grid_1">
                <p> Compras </p>
               </div>
			  </div>


		<%= yield %>

		<div class="grid_12">
		<br><br><br><br>
				<footer id="footer" class="section section-footer clearfix" role="footer">
					<div class="region region-footer">
			 			<div id="block-block-1" class="block block-block first">
		  					<div class="inner">
				          	<div class="content">
									<table align="left" border="0" cellpadding="1" cellspacing="1">
										<tbody>
											<tr>
												<td valign="bottom" width="95">
													<a href="http://www.usb.ve">
														<%= image_tag "cebolla_70_45.jpg"%>
													</a>
												</td>
												<td valign="bottom">
													<a href="http://www.usb.ve/home/node/68">e-virtual</a> |
													<a href="https://webmail.usb.ve/" target="_blank">Correo</a> |
													<a href="http://www.usb.ve/buscador.php" target="_blank"> </a>
													<a href="https://esopo.usb.ve">esopo</a> |
													<a href="http://www.usb.ve/buscador.php" target="_blank"> </a>
													<a href="http://www.youtube.com/canalusb" target="_blank">canalUSB</a> | 
													<a href="http://www.usb.ve/agenda.php" target="_blank">Agenda Cultural</a> | 
													<a href="http://usbnoticias.info/" target="_blank">USBnoticias</a> |
													<span> </span><span> </span>
													<a href="http://www.usb.ve/home/node/55">Calendario</a> |<br>
													Sede Sartenejas, Baruta, Edo. Miranda - Apartado 89000 - Cable Unibolivar - Caracas Venezuela. 
													Teléfono +58 0212-9063111<br>
													Sede Litoral, Camurí Grande, Edo. Vargas Parroquia Naiguatá. Teléfono +58 0212-9069000<br>
													Diseñada y desarrollada por la Dirección de Servicios Multimedia <a 
													href="mailto:webmaster@usb.ve">webmaster@usb.ve</a>
											  </td>
										 </tr>
									</tbody>
				             </table>
							<p>&nbsp;</p>
						</div>
					</div>
				</div>
		  	</div>
		</footer>
   </div>
</div>

</body>

<style>

hr.linea {
height: 12px;
border: 0;
box-shadow: inset 0 12px 12px -12px rgba(0,0,0,0.5);
}

#compras {

float:right;

}

#right_banner {

float:right;

}

#left_banner {

float:left;
text-align:right;

}

#info {

text-align:center;

}



#notice {

color: black;
text-align:center;
font-size: 14px;

}

p {
   text-align:center;
   color: #1c6ea0;
   font-weight: bold;
   font-size: 14px;

}

footer.section, footer.section .block-title {
background-color: #ffffff;
color: #010101;
}

.region-footer {
padding: 1em 0;
margin-left: 70px;
}

footer.section a, footer.section a:visited {
color: #126598;
text-align: center;
}

.inner {
padding: 0;
}

.content {
margin: 0 15px 0 10px;
}

td[Attributes Style] {
vertical-align: bottom;
width: 95px;
}



ul.menu li {
margin: 0 -10px 6px -17px;
}
www.ulab.usb.ve/media="all"
li {
font-size: 11px;
/* font-weight: bold; */
}
user agent stylesheetli {
display: list-item;
text-align: -webkit-match-parent;
}

ul.menu {
list-style: none;
border: none;
text-align: right;
font-weight: bold;
}


</style>

</html>


