<!DOCTYPE html>
<html>
<head>
	<title>Sigulab</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
	<title> Unidad de Laboratorios - SIGULAB </title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link rel="shortcut icon" href="../../assets/images/favicon.ico" type= "image/png">
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>

	<div id="principal">

		<div id="header" role="banner">
			<a title="Inicio" href="http://www.ulab.usb.ve/" alt="Inicio"/><%= image_tag "logo_drupal.jpg" %> </a>
		</div>
		<p class="navbar-text pull-right">
			<p class="navbar-text pull-right">
				<!-- AREA DE TRABAJO -->
				<div id = "area">
				<% if user_signed_in? %>
				Registrado como <strong><%= current_user.email %></strong>.
				<%= link_to 'Editar mi perfil', edit_user_registration_path, :class => 'navbar-link' %>
				<%= link_to "Salir del sistema", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
				<% else %>
				<%= link_to "Registrarse", new_user_registration_path, :class => 'navbar-link'  %> |
				<%= link_to "Iniciar Sesion", new_user_session_path, :class => 'navbar-link'  %>
				<% end %>			

					<!-- CONTENIDO -->
					<div id="Contenido">

						<p class="notice"><%= notice %></p>
      			<p class="alert"><%= alert %></p>

						<%= yield %>

					</div>

					<div id="BannerIzquierda">

						<ul class="menu">
							<li class="first leaf"><a href="/node/9">Unidad de Laboratorios</a></li>
							<li class="leaf"><a href="/node/3">Laboratorios</a></li>
							<li class="leaf"><a href="/node/2">Unidades Administrativas</a></li>
							<li class="last leaf"><a href="/node/1">¿Quiénes Somos?</a></li>
						</ul>
						<div id="block-menu-menu-historico" class="block block-menu">
							<div class="inner">
								<div class="content">
									<ul class="menu">
										<hr style="color: #e6e4de;" size="1"/>
										<li class="first last leaf"><a href="/noticias" title="Archivo de Noticias">Archivo de Noticias</a></li>
									</ul>    
								</div>
							</div>
						</div>

					</div>


					<div id="BannerDerecha">
						<div <p> <%= image_tag "logo_ulab.gif" %></p></div>
						<div <p><%= image_tag "innovar.gif" %></p></div>
						<div <p><a href="http://www.ulab.usb.ve/jornadas"><%= image_tag "stickers_jornadas.jpg" %></a></p></div>
						<div <p><a href="http://www.ulab.usb.ve/sites/default/files/catalogo_ulab.pdf"><%= image_tag "cat_ulab.jpg" %></a></p></div>
						<div <p><a href="http://www.ulab.usb.ve/node/26"><%= image_tag "cons_ulab.jpg" %></a></p></div>
						<div <p><a href="http://www.ulab.usb.ve/node/27"><%= image_tag "doc_ulab.jpg" %></a></p></div>
						<div <p><a href="http://www.ulab.usb.ve/node/25"><%= image_tag "comit_ulab.jpg" %></a></p></div>
						<div <p><a href="https://www.facebook.com/pages/Unidad-de-Laboratorios-USB/173900382644914" target="_blank"><%= image_tag "facebook.gif" %></a></p></div>
						<p><%= image_tag "somosusb.gif" %></p>
					</div>


					<div class="region region-footer">
						<div id="block-block-1" class="block block-block first">
							<div class="inner">
								<div class="content">
									<table align="left" border="0" cellpadding="1" cellspacing="1">
										<tbody>
											<tr>
												<td valign="bottom" width="95">
													<a href="http://www.usb.ve"><%= image_tag "cebolla_70_45.jpg" %></a><br><br><br><br></td>
													<td valign="bottom">
														<a href="http://www.usb.ve/home/node/68">e-virtual</a> | <a href="https://webmail.usb.ve/" target="_blank">Correo</a> |<a href="http://www.usb.ve/buscador.php" target="_blank"> </a><a href="https://esopo.usb.ve">esopo</a> |<a href="http://www.usb.ve/buscador.php" target="_blank"> </a><a href="http://www.youtube.com/canalusb" target="_blank">canalUSB</a> | <a href="http://www.usb.ve/agenda.php" target="_blank">Agenda Cultural</a> | <a href="http://usbnoticias.info/" target="_blank">USBnoticias</a> |<span> </span><span> </span><a href="http://www.usb.ve/home/node/55">Calendario</a> |<br>
														Sede Sartenejas, Baruta, Edo. Miranda - Apartado 89000 - Cable Unibolivar - Caracas Venezuela. Teléfono +58 0212-9063111<br>
														Sede Litoral, Camurí Grande, Edo. Vargas Parroquia Naiguatá. Teléfono +58 0212-9069000<br>
														Diseñada y desarrollada por la Dirección de Servicios Multimedia <a href="mailto:webmaster@usb.ve">webmaster@usb.ve</a><br><br><br><b>
													</td>
												</td>
											</tr>
										</tbody>
									</table><p>&nbsp;</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
	</html>
