<div class="grid_12 push_5">
  <%= form_for(@act) do |f| %>
    <% if @act.errors.any? %>
      <h2>Rellene todos los campos obligatorios</h2>
      <br>
    <% end %>
  <div class ="table">
      <div class="field">
          <span class="red">*</span>
       <%= f.label "Número de registro" %><br>
       <%= f.text_field :numRegistro %>
      </div>
      <div class="field">
              <span class="red">*</span>
       <%= f.label "Nombre del Proveedor" %><br>
       <%= f.text_field :proveedor, :placeholder => "Nombre del Proveedor" %>
      </div>
      <div class="field">
          <span class="red">*</span>
       <%= f.label "Bien y/o Servicio" %><br>
       <%= f.text_field :bienServicio, :placeholder => "Indique el nombre" %>
      </div>
      <div class="field">
          <span class="red">*</span>
       <%= f.label "Será usado en:" %><br>
       <%= f.text_field :tesis, :placeholder => "Especifique Tésis, Proyecto, etc." %>
      </div>
      <div class="field">
        <span class="red">*</span>
       <%= f.label "Nombre del Responsable" %><br>
       <%= f.text_field :responsable, :placeholder => "Indique el nombre del solicitante" %>
      </div>
      <div class="field">
          <span class="red">*</span>
       <%= f.label "Justificación" %><br>
       <%= f.text_field :justificacion, :placeholder => "Explique por qué se solicitan los bienes y/o servicios" %>
      </div>
      <div class="field">
        <span class="red">*</span>
       <%= f.label "Providencia" %><br>
       <%= f.text_field :providencia, :placeholder => "Indique de donde provienen los fondos" %>
      </div>
      <div class="actions">
       <%= f.submit "Aceptar", data: { confirm: '¿Está seguro de la informacion que acaba de suministrar?' }  %>
      </div>
    <% end %>
    <br><%= link_to '<button type="button" class="btn btn-primary"> Volver a la página anterior </button>'.html_safe, controller: "acts" %>
   </div>
</div>


<style>
input[type="submit"] {

display: inline-block;
padding: 6px 12px;
margin-bottom: 0;
font-size: 14px;
font-weight: 400;
line-height: 1.42857143;
text-align: center;
white-space: nowrap;
vertical-align: middle;
color: #fff;
background-color: #428bca;
border-color: #357ebd;
border: 1px solid transparent;
border-radius: 4px;


}

input[type="text"], textarea, input[type="number"] {

display: block;
width: 200px;
height: 34px;
padding: 6px 12px;
font-size: 14px;
line-height: 1.42857143;
color: #555;
background-color: #fff;
background-image: none;
border: 1px solid #ccc;
border-radius: 4px;
}

.red {

font-size: 20px;
color: red;

}


input[type="text"]:focus, textarea:focus, input[type="number"]:focus { 
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}

.field_with_errors {
    background-color: red;
    border-radius: 4px;
}

h2 {

position:relative;
right: 60px;
color:red;
font-size: 20px;

}


</style>